<%-include('../layouts/blog/header.ejs')%> 
<%-include('../layouts/navbar.ejs')%>

<!-- Start home -->
<section class="bg-half page-next-level">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h4 class="text-uppercase title mb-4">Blog</h4>
          <p class="leader">All Article for productive day</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end home -->

<!-- blog start -->
<section class="section">
  <div class="container">
    <div class="row">
      <%for (var i = 0; i < blog.length; i++) {%> <% var blogdata = blog[i]; %>
      <div class="col-lg-4 col-md-6 mb-4 pb-2">
        <div class="blog position-relative overflow-hidden shadow rounded">
          <div class="position-relative overflow-hidden">
            <img
              src="<%=blogdata.image%>"
              class="img-fluid rounded-top"
              alt=""
            />
            <div class="overlay rounded-top bg-dark"></div>
            <div class="likes">
              <ul class="list-unstyled mb-0">
                <li class="list-inline-item mr-2">
                  <a href="javascript:void(0)" class="text-white like"
                    ><i class="mdi mdi-heart-outline mr-1"></i>0</a
                  >
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0)" class="text-white comments"
                    ><i class="mdi mdi-comment-outline mr-1"></i>0</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="content p-4">
            <h4>
              <a href="blog/<%=blogdata._id%>" class="title text-dark"
                ><%=blogdata.title%></a
              >
            </h4>
            <p class="text-muted"><%=blogdata.desc%></p>
            <a href="blog/<%=blogdata._id%>" class="text-dark readmore"
              >Read more <i class="mdi mdi-chevron-right"></i
            ></a>
          </div>
          <div class="author">
            <p class=" mb-0">
              <i class="mdi mdi-account text-light"></i>
              <a href="javascript:void(0)" class="text-light user">Admin</a>
            </p>
            <p class="text-light mb-0 date">
              <i class="mdi mdi-calendar-check"></i> <%=moment(blogdata.date).format("LLL")%>
            </p>
          </div>
        </div>
      </div>
      <%}%>
      <!--end col-->
    </div>
  </div>
</section>
<!-- blog end -->

<%-include('../layouts/blog/footer.ejs')%>


