<%-include('../layouts/home/header.ejs')%> <%-include('../layouts/navbar.ejs')%>
<%-include('../layouts/home/homeJumbotron.ejs')%>

<!-- popular category start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div
          class="section-title text-center mb-4 pb-2"
          data-aos="zoom-in"
          data-aos-duration="1000"
        >
          <h4 class="title title-line pb-5">Popular Category</h4>
          <p class="text-muted para-desc mx-auto mb-1">
            Find a Mentor based on their expertise that will help you solving
            problem much better
          </p>
        </div>
      </div>
    </div>
    <div class="row" data-aos="fade-up" data-aos-duration="1100">
      <div class="col-lg-3 col-md-6 mt-4 pt-2">
        <a href="javascript:void(0)">
          <div class="popu-category-box bg-light rounded text-center p-4">
            <div class="popu-category-icon mb-3">
              <i
                class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"
              ></i>
            </div>
            <div class="popu-category-content">
              <h5 class="mb-2 text-dark title">English Literature</h5>
              <p class="text-success mb-0 rounded">Most Wanted</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 pt-2">
        <a href="javascript:void(0)">
          <div class="popu-category-box bg-light rounded text-center p-4">
            <div class="popu-category-icon mb-3">
              <i
                class="mdi mdi-desktop-classic d-inline-block rounded-pill h3 text-primary"
              ></i>
            </div>
            <div class="popu-category-content">
              <h5 class="mb-2 text-dark title">Software Development</h5>
              <p class="text-success mb-0 rounded">High Demand</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 pt-2">
        <a href="javascript:void(0)">
          <div class="popu-category-box bg-light rounded text-center p-4">
            <div class="popu-category-icon mb-3">
              <i
                class="mdi mdi-bank d-inline-block rounded-pill h3 text-primary"
              ></i>
            </div>
            <div class="popu-category-content">
              <h5 class="mb-2 text-dark title">Business & Finance</h5>
              <p class="text-success mb-0 rounded">Coming Soon</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 pt-2">
        <a href="javascript:void(0)">
          <div class="popu-category-box bg-light rounded text-center p-4">
            <div class="popu-category-icon mb-3">
              <i
                class="mdi mdi-auto-fix d-inline-block rounded-pill h3 text-primary"
              ></i>
            </div>
            <div class="popu-category-content">
              <h5 class="mb-2 text-dark title">Data Science</h5>
              <p class="text-success mb-0 rounded">Coming Soon</p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 text-center mt-4 pt-2">
        <a href="/mlist" class="btn btn-primary-outline"
          >Browse More <i class="mdi mdi-chevron-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>
<!-- popular category end -->

<%-include('../layouts/home/homeJobList.ejs')%>

<!-- How it Work start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-down">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title title-line pb-5">How It Work</h4>
          <p class="text-muted para-desc mx-auto mb-1">
            Expert Assist Business Flow is pretty simple , we make sure the
            mentor is very competent in their expertise. You just pick an expert
            based on your need.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mt-4 pt-2" data-aos="fade-down">
        <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
          <div class="how-it-work-img position-relative rounded-pill mb-3">
            <img
              src="/front/images/how-it-work/img-1.png"
              alt=""
              class="mx-auto d-block"
              height="50"
            />
          </div>
          <div>
            <h5>Register & Login</h5>
            <p class="text-muted">
              Signup to make an account. you can make a user account or if you
              wanna be a mentor, choose a mentor account
            </p>
            <a href="/faq" class="text-primary"
              >Read more <i class="mdi mdi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 pt-2" data-aos="fade-down">
        <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
          <div class="how-it-work-img position-relative rounded-pill mb-3">
            <img
              src="/front/images/how-it-work/img-2.png"
              alt=""
              class="mx-auto d-block"
              height="50"
            />
          </div>
          <div>
            <h5>Search & Payment</h5>
            <p class="text-muted">
              you can directyly search your mentor based on your need. If got
              one go ahed make a payment.
            </p>
            <a href="/faq" class="text-primary"
              >Read more <i class="mdi mdi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4 pt-2" data-aos="fade-down">
        <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
          <div class="how-it-work-img position-relative rounded-pill mb-3">
            <img
              src="/front/images/how-it-work/img-3.png"
              alt=""
              class="mx-auto d-block"
              height="50"
            />
          </div>
          <div>
            <h5>Scheduling & Mentoring</h5>
            <p class="text-muted">
              if you already paid, set the schedule with your mentor & Do
              mentoring when the time comes.
            </p>
            <a href="/faq" class="text-primary"
              >Read more <i class="mdi mdi-chevron-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How it Work end -->

<!-- testimonial start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center" data-aos="fade-down">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title title-line pb-5">Our Success Stories</h4>
          <p class="text-muted para-desc mx-auto mb-1">
            Here is the story of some user who feel helped a lot with Expert
            Assist
          </p>
        </div>
      </div>
    </div>
    <div class="row pt-4" data-aos="fade-down">
      <div class="col-lg-12">
        <div id="owl-testi" class="owl-carousel owl-theme">
          <div
            class="item testi-box rounded p-4 mr-3 ml-2 mb-4 bg-light position-relative"
          >
            <p class="text-muted mb-5">
              Very easy to use. Expert-Assist was worth a fortune of my
              problem.is worth much more than I paid, just what I was looking
              for. Thanks for the great service
            </p>
            <div class="clearfix">
              <div class="testi-img float-left mr-3">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/4_avatar-512.png"
                  height="64"
                  alt=""
                  class="rounded-circle shadow"
                />
              </div>
              <h5 class="f-18 pt-1">Kate Mosner</h5>
              <p class="text-muted mb-0">FrontEnd Developer</p>
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2"></i>
              </div>
            </div>
          </div>

          <div
            class="item testi-box rounded p-4 mr-3 ml-2 bg-light position-relative"
          >
            <p class="text-muted mb-5">
              Expert-Assist has really helped my technical problem. We're loving
              it. I just can't get enough of Expert-Assist. I want to get a
              T-Shirt with Expert-Assist on it so I can show it off to everyone.
            </p>
            <div class="clearfix">
              <div class="testi-img float-left mr-3">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/7_avatar-512.png"
                  height="64"
                  alt=""
                  class="rounded-circle shadow"
                />
              </div>
              <h5 class="f-18 pt-1">Zayed Hassan</h5>
              <p class="text-muted mb-0">
                Backend Developer
              </p>
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2"></i>
              </div>
            </div>
          </div>

          <div
            class="item testi-box rounded p-4 mr-3 ml-2 bg-light position-relative"
          >
            <p class="text-muted mb-5">
              It's the perfect solution for my probblem.I learn a lot from my
              mentor that mastering in english literature. I can't say enough
              about Expert-Assist. Thank You! Expert-Assist is great
            </p>
            <div class="clearfix">
              <div class="testi-img float-left mr-3">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/business-avatar-1/512/5_avatar-512.png"
                  height="64"
                  alt=""
                  class="rounded-circle shadow"
                />
              </div>
              <h5 class="f-18 pt-1">Perry Martinez</h5>
              <p class="text-muted mb-0">
                English Teacher
              </p>
              <div class="testi-icon">
                <i class="mdi mdi-format-quote-open display-2"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center" data-aos="fade-up">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title title-line pb-5">Our Client's</h4>
          <p class="text-muted para-desc mx-auto mb-1">
            several well-known company employees who have used Expert Assist for
            solving their problem with our competent mentor.
          </p>
        </div>
      </div>
    </div>

    <div class="row align-items-center" data-aos="fade-up">
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/1.png" height="50" alt="" />
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/2.png" height="50" alt="" />
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/3.png" height="50" alt="" />
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/4.png" height="50" alt="" />
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/1.png" height="50" alt="" />
      </div>
      <!--end col-->
      <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
        <img src="/front/images/clients/2.png" height="50" alt="" />
      </div>
      <!--end col-->
    </div>
  </div>
</section>
<!-- testimonial end -->
<!-- tidio -->
<script
  src="//code.tidio.co/glhh0f3zpmyzo77zonzc3i3d6a6ghjne.js"
  async
></script>

<!-- subscribe end -->
<%-include('../layouts/home/footer.ejs')%> `
