<%-include('../layouts/home/header.ejs')%>
<!-- Navigation Bar-->
<%-include('../layouts/navbar.ejs')%>
<!-- Navbar End -->

<!-- Start home -->
<section class="bg-half page-next-level">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white pb-3">
          <h4 class="text-uppercase title">Mentor List</h4>
          <h5 class="text-center text-white">All Expert Ready to help you</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end home -->

<section class="sectionSearchBar">
  <!-- Search-->
  <%-include('../layouts/home/searchList.ejs')%>
  <!-- Mentor Card-->
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="show-results mt-4">
          <div class="float-left">
            <h5 class="text-dark mb-0 pt-2">Showing Results : 1-9 of 300</h5>
          </div>
          <form action="/sort" method="GET" id="formSort">
            <div class="sort-button float-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item mb-0 mr-3">
                  <select class="nice-select rounded" id="sortBy" name="sort">
                    <option data-display="Sort By">Nothing</option>
                    <option value="_id">New Mentor</option>
                    <option value="rating">Highest Rating</option>
                    <option value="price">Highest Price</option>
                  </select>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Filtering -->
    <form action="/filter" method="GET">
      <div class="row">
        <div class="col-lg-3 col-md-4 pt-2">
          <div class="left-sidebar">
            <div class="accordion" id="accordionExample">
              <div class="card mt-4 rounded border-bottom-0">
                <a
                  data-toggle="collapse"
                  href="#collapseOne"
                  class="job-list"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0 text-dark">Expertise</h6>
                  </div>
                </a>
                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                >
                  <div class="card-body p-0">
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="expertise1"
                        name="expertise"
                        class="custom-control-input"
                        value="english"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="expertise1"
                        >English</label
                      >
                    </div>

                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="expertise2"
                        name="expertise"
                        class="custom-control-input"
                        value="software development"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="expertise2"
                        >Software Development</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- collapse one end -->
              <div class="card mt-4 rounded border-bottom-0">
                <a
                  data-toggle="collapse"
                  href="#collapseTwo"
                  class="job-list"
                  aria-expanded="true"
                  aria-controls="collapseTwo"
                >
                  <div class="card-header" id="headingOne">
                    <h6 class="mb-0 text-dark">Range Price</h6>
                  </div>
                </a>
                <div
                  id="collapseTwo"
                  class="collapse show"
                  aria-labelledby="headingOne"
                >
                  <div class="card-body p-0">
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="price1"
                        name="price"
                        class="custom-control-input"
                        value="below100"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="price1"
                        >0K To 100K
                      </label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="price2"
                        name="price"
                        class="custom-control-input"
                        value="100to200"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="price2"
                        >100K To 200K
                      </label>
                    </div>

                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="price3"
                        name="price"
                        class="custom-control-input"
                        value="above200"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="price3"
                        >Above 200K</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- collapse one end -->
              <div class="card mt-4 rounded border-bottom-0">
                <a
                  data-toggle="collapse"
                  href="#collapsethree"
                  class="job-list"
                  aria-expanded="true"
                  aria-controls="collapsethree"
                >
                  <div class="card-header" id="headingthree">
                    <h6 class="mb-0 text-dark">Rating</h6>
                  </div>
                </a>
                <div
                  id="collapsethree"
                  class="collapse show"
                  aria-labelledby="headingthree"
                >
                  <div class="card-body p-0">
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="customRadio7"
                        name="rating"
                        class="custom-control-input"
                        value="standard"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="customRadio7"
                        >Standard</label
                      >
                    </div>

                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="customRadio12"
                        name="rating"
                        value="good"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="customRadio12"
                        >Good</label
                      >
                    </div>
                    <div class="custom-control custom-radio">
                      <input
                        type="radio"
                        id="customRadio13"
                        name="rating"
                        value="excelent"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label ml-1 text-muted"
                        for="customRadio13"
                        >Excelent</label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center mx-auto">
                <button
                  class="mt-4 text-center btn btn-primary btn-sm"
                  type="submit"
                >
                  Filter
                </button>
              </div>
              <!-- collapse one end -->
            </div>
          </div>
        </div>

        <!-- Loop from here -->

        <div class="col-lg-9 col-md-8">
          <%if(mentor.length==0){%>
          <div class="div mx-auto justify-content-center text-center mt-4">
            <img
              class="img-fluid mt-4 pt-4"
              alt="Responsive image"
              src="../../front/images/notfound.svg"
              alt=""
              style="width: 25%;"
            />
            <h4 class="text-center mt-2 text-muted">
              Ooops, No Mentor Found .....
            </h4>
          </div>
          <% } %>
          <div class="row">
            <% mentor.forEach(mentorData=>{ %>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
              <div
                class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded"
              >
                <img
                  src="<%= mentorData.profilepicture %>"
                  alt=""
                  class="mx-auto d-block shadow border rounded-circle img-fluid mx-auto d-bloc"
                  height="90"
                  style="width: 50%;"
                />
                <div class="grid-list-desc text-center mt-3">
                  <h5 class="mb-2">
                    <a href="#" class="text-dark name"
                      ><%= mentorData.username %>
                    </a>
                  </h5>
                  <p class="text-muted mb-0"><%= mentorData.job %></p>
                  <p class="text-muted mb-0">
                    <i class="mdi mdi-map-marker mr-2"></i><%= mentorData.city
                    %>
                  </p>
                  <ul class="employers-icons list-inline mb-1">
                    <div
                      style="font-size: 17px; color: orange;"
                      class="rate mx-auto justify-content-center"
                      data-rate-value="<%= mentorData.rating%>"
                    ></div>
                    <p class="text-warning font-weight-bold">
                      <%= currency(mentorData.rating,{precision:1}).format() %>
                    </p>
                  </ul>
                </div>
                <div class="apply-button text-center mt-3">
                  <a
                    href="mdetail/<%=mentorData._id%>"
                    class="btn btn-primary btn-sm"
                    >View Profile</a
                  >
                </div>
                <div class="fav-collection fav-icon">
                  <i class="mdi mdi-heart" title="Collect Now"></i>
                </div>
              </div>
            </div>
            <% }) %>
            <!-- end of card -->

            <% if(nextPage>0){ %>

            <!-- Pagination -->
            <div class="col-lg-12 mt-4 pt-2">
              <nav aria-label="Page navigation example">
                <ul
                  class="pagination job-pagination mb-0 justify-content-center"
                >
                  <% if(hasPreviousPage) { %>
                  <li class="page-item">
                    <a
                      class="page-link"
                      href="?page=<%=previousPage%>"
                      tabindex="-1"
                      aria-disabled="true"
                    >
                      <i class="mdi mdi-chevron-double-left"></i>
                    </a>
                  </li>
                  <%}%> <% if(currentPage!==1 && previousPage!==1){%>
                  <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                  </li>
                  <% } %> <% if (hasPreviousPage) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%=previousPage%>"
                      ><%=previousPage%></a
                    >
                  </li>
                  <% } %>

                  <li class="page-item active">
                    <a class="page-link" href="?page=<%=currentPage%>"
                      ><%=currentPage%></a
                    >
                  </li>

                  <% if(hasNextPage) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%=nextPage%>"
                      ><%=nextPage%></a
                    >
                  </li>
                  <% } %> <% if(lastPage !== currentPage && nextPage !==
                  lastPage) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%=lastPage%>"
                      ><%=lastPage%></a
                    >
                  </li>
                  <% } %> <% if(hasNextPage) { %>
                  <li class="page-item">
                    <a class="page-link" href="?page=<%=nextPage%>">
                      <i class="mdi mdi-chevron-double-right"></i>
                    </a>
                  </li>
                  <%}%>
                </ul>
              </nav>
            </div>
            <%}else {%>
            <div class="col-lg-12 mt-4 pt-2">
              <nav aria-label="Page navigation example">
                <ul
                  class="pagination job-pagination mb-0 justify-content-center"
                >
                  <li class="page-item active">
                    <a
                      class="page-link"
                      href="/mlist%>"
                      tabindex="-1"
                      aria-disabled="true"
                    >
                      <i class="mdi mdi-rotate-3d"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- footer start -->
<%-include('../layouts/home/footer.ejs')%>
<script src="/back/assets/js/rater.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script>
  $(document).ready(() => {
    let option = {
      max_value: 10,
      readonly: true,
    };
    $(".rate").rate(option);

    $("#sortBy").change(() => {
      $("#formSort").submit();
    });

    // $(
    //   "#selectBy,#sortBy,#customRadio1,#customRadio2,#customRadio3,#customRadio4,#customRadio5,#customCheck7,#customCheck8,#customCheck9,#customCheck10,#customCheck3,#customCheck4,#customRadio7,#customRadio12,#customRadio13,#customRadio14,#customRadio15"
    // ).change(() => {
    //   Swal.fire({
    //     icon: "warning",
    //     title: "Oops.. Under Development",
    //     text:
    //       "Sorry We're on Deadline, This Feature is not ready to use. But You can use our search bar",
    //   });
    // });
  });
</script>
