<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->

  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 d-inline-block mb-0">Welcome</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Mentor
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <form action="/logout" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-sm btn-danger">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Total Client
                </h5>
                <span class="h2 font-weight-bold mb-0"><%=totalClient%></span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                >
                  <i class="ni ni-active-40"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 0%</span
              >
              <span class="text-nowrap">Since now</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Schedule
                </h5>
                <span class="h2 font-weight-bold mb-0"
                  ><%=incomingSchedule%></span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                >
                  <i class="ni ni-chart-pie-35"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 0%</span
              >
              <span class="text-nowrap">incoming schedule</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Income (Rp)
                </h5>
                <span class="h2 font-weight-bold mb-0"
                  ><%=currency(mentor.income,{separator:"," ,
                  precision:0}).format() %></span
                >
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                >
                  <i class="ni ni-money-coins"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 0%</span
              >
              <span class="text-nowrap">Since now</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Reviews
                </h5>
                <span class="h2 font-weight-bold mb-0"><%=totalReview%></span>
              </div>
              <div class="col-auto">
                <div
                  class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                >
                  <i class="ni ni-chart-bar-32"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-sm">
              <span class="text-success mr-2"
                ><i class="fa fa-arrow-up"></i> 0%</span
              >
              <span class="text-nowrap">Since now</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-deck flex-column flex-xl-row h-25">
      <div class="card">
        <div class="card-header bg-transparent">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Overview</h6>
          <h2 class="h3 mb-0">Income Stats</h2>
        </div>
        <div class="card-body">
          <!-- Chart -->
          <div
            class="chart"
            style="position: relative; height: 100%; width: 100%;"
          >
            <!-- Chart wrapper -->
            <canvas
              id="paymentChart"
              class="chart-canvas"
              height="280%"
              style="width: 100%; position: relative;"
            ></canvas>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-transparent">
          <h6 class="text-muted text-uppercase ls-1 mb-1">Pending Client</h6>
          <h2 class="h3 mb-0">User Stats</h2>
        </div>
        <div class="card-body position-relative">
          <!-- Chart -->
          <div
            class="chart"
            style="position: relative; height: 100%; width: 100%;"
          >
            <% if(userData.length<1){ %>
            <div class="row mt-4 pt-2 text-center justify-content-center">
              <div class="col">
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../front/images/notfound.svg"
                  alt=""
                  style="width: 60%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  you dont have any pending user
                </h4>
              </div>
            </div>
            <% }%> <% userData.forEach(userData=>{ %>
            <ul
              class="list-group list-group-flush list my--3 position-relative"
            >
              <li class="list-group-item px-0">
                <div class="row align-items-center mb-3">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="/schedule" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="/<%-userData.user.profilepicture%>"
                      />
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="/mentor/schedule"
                        ><%= userData.user.username %></a
                      >
                    </h4>
                    <span class="text-success">◾</span>
                    <% if(userData.approve=="false"){ %>
                    <small>Status : Pending</small>
                    <% }else if(userData.approve=="true"){ %>
                    <small
                      >Incoming
                      <%=moment(userData.datetime).endOf('day').fromNow();
                      %></small
                    >
                    <% }else if(userData.approve=="reject"){ %>
                    <small>Status : Reject</small>
                    <% } %>
                  </div>

                  <div class="col-auto">
                    <a
                      href="https://api.whatsapp.com/send?phone=<%=userData.user.phone%>&text=Hello,%20This%20is%20mentor%20<%=session.username%>%20from%20Expert%20Assist%20.%20"
                      class="btn btn-sm btn-primary"
                      target="_blank"
                    >
                      <i class="fab fa-whatsapp fa-lg mr-1"></i>Chat
                    </a>
                  </div>
                </div>
              </li>
            </ul>
            <% }) %>
          </div>
        </div>

        <% if (nextMentoring !== null){ %>
        <div class="text-center mx-auto mb-4">
          <small class="text-muted h3"
            >▶ Next Mentoring on<b>
              <%-moment(nextMentoring.datetime).format("LL")%></b
            ></small
          >
        </div>
        <% } %>
      </div>

      <!-- Progress track -->
      <div class="card">
        <!-- Card header -->
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <!-- Surtitle -->
              <h6 class="surtitle">0/0 projects</h6>
              <!-- Title -->
              <h5 class="h3 mb-0">Mentor Stats</h5>
            </div>
          </div>
        </div>
        <!-- Card body -->
        <div class="card-body position-relative">
          <!-- List group -->
          <div class="pb-1 pt-2">
            <ul class="list-group list-group-flush list my--2">
              <li
                class="list-group-item px-0 d-flex justify-content-between align-items-center"
              >
                Waiting Schedule
                <span class="badge badge-primary badge-pill"
                  ><%=waitingSchedule%></span
                >
              </li>
              <li
                class="list-group-item px-0 d-flex justify-content-between align-items-center"
              >
                Reject Schedule
                <span class="badge badge-primary badge-pill"
                  ><%=rejectSchedule%></span
                >
              </li>
              <li
                class="list-group-item px-0 d-flex justify-content-between align-items-center"
              >
                Waiting Withdraw
                <span class="badge badge-primary badge-pill"
                  ><%=waitingWithdraw%></span
                >
              </li>
              <li
                class="list-group-item px-0 d-flex justify-content-between align-items-center"
              >
                Success Withdraw
                <span class="badge badge-primary badge-pill"
                  ><%=withdrawSuccess%></span
                >
              </li>
              <li
                class="list-group-item px-0 d-flex justify-content-between align-items-center"
              >
                Total Withdraw
                <span class="badge badge-primary badge-pill"
                  >Rp. <%=currency(totalWithdraw,{separator: ",", precision:
                  0}).format()%></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <% if (mentor.mentorstatus == "new") { %>
    <div
      class="modal fade"
      id="modal-notification"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-notification"
      aria-hidden="true"
      data-keyboard="false"
      data-backdrop="static"
    >
      <div
        class="modal-dialog modal-primary modal-dialog-centered modal-"
        role="document"
      >
        <div class="modal-content bg-gradient-primary">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-notification">
              Welcome & Congratulation🎊
            </h6>
          </div>
          <form
            method="POST"
            action="/mentor/update/mentorstatus"
            id="statusform"
          >
            <div class="modal-body">
              <div class="py-3 text-center">
                <i class="ni ni-bell-55 ni-3x"></i>
                <h4 class="heading mt-4">Now You Become an Expert</h4>
                <p>
                  But First you must update your profile , so the user can see
                  your skill & ability. If you have a question feel free to
                  contact us . Don’t be afraid of moving forward. The future is
                  bright.
                </p>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <input type="hidden" name="id" class="id" />
              <input type="hidden" name="mentorstatus" value="true" />
              <input
                type="hidden"
                name="mentorusername"
                value="<%=mentor.username%>"
              />
              <button
                onclick="statusSubmit()"
                type="submit"
                class="btn btn-white float-right"
                data-dismiss="modal"
              >
                Ok, Got it
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <% } %>

    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://unpkg.com/currency.js@1.2.2/dist/currency.min.js"></script>
    <script>
      $(document).ready(() => {
        $.get("/api/mentor/payments")
          .done((data) => {
            let res = data.data;
            let month;
            let income;
            if (res == 0) {
              month = ["You dont have any client's payment"];
              income = [0];
            } else {
              month = res.map(function (e) {
                return moment(e._id, "M").format("MMMM");
              });
              income = res.map(function (e) {
                return e.income;
              });
            }

            let ctx = document.getElementById("paymentChart").getContext("2d");
            let chart = new Chart(ctx, {
              // The type of chart we want to create
              type: "bar",

              // The data for our dataset
              data: {
                labels: month,
                datasets: [
                  {
                    label: "Payment",
                    backgroundColor: "rgb(65,105,225)",
                    borderColor: "rgb(169,169,169)",
                    borderWidth: 3,
                    hoverBackgroundColor: "rgb(65,105,225)",
                    hoverBorderColor: "rgb(105,105,105)",
                    hoverBorderWidth: 5,
                    data: income,
                  },
                ],
              },
              options: {
                scales: {
                  yAxes: [
                    {
                      ticks: {
                        suggestedMin: 50,
                        suggestedMax: 1000,
                        callback: function (value, index, values) {
                          return currency(value, {
                            separator: ",",
                            precision: 0,
                          }).format();
                        },
                      },
                    },
                  ],
                },
              },
            });
          })
          .fail((err) => {
            console.log(err);
          });
      });
    </script>
  </div>
</div>
