<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 d-inline-block mb-0">Exam</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6  justify-content-center mx-auto">
    <div class="row justify-content-center mx-auto mb-6">
      <div class="col-lg-8">
        <!-- Pricing card -->
        <% if (mentor.exam_take == false){ %>
        <div class="card card-pricing border-0 text-center mb-2 mt-2">
          <div class="card-header bg-transparent ">
            <img
              class="img-fluid "
              width="35%"
              alt="Responsive image"
              src="../../back/assets/img/custom/exambegin.png"
              alt=""
            />
            <h3 class="text-uppercase ls-1 text-primary py-3 mb-0">
              MENTOR EXAM
            </h3>
            <span
              class="badge badge-danger font-weight-bold text-center pl-2 pr-2 pt-1 -b-1"
              >Durasi 15 Menit - Auto Submit Form</span
            >
          </div>
          <div class="card-body px-lg-7">
            <form action="/mentor/exam/" method="POST">
              <div class="display-4">
                <div class="form-group">
                  <select
                    class="custom-select text-dark"
                    name="expertise"
                    required
                  >
                    <option selected value="">
                      Pilih bidang keahlian anda</option
                    >
                    <option value="<%= admin.category[0].name %>"
                      ><%= admin.category[0].name %></option
                    >
                    <option value="<%= admin.category[1].name %>"
                      ><%= admin.category[1].name %></option
                    >
                    <option value="<%= admin.category[2].name %>"
                      ><%= admin.category[2].name %></option
                    >
                  </select>
                </div>
              </div>
              <input type="hidden" name="exam_take" value="true" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-primary mb-3">
                Begin Test
              </button>
            </form>
          </div>
        </div>
        <% }else { %>
        <div class="card card-pricing border-0 text-center mb-2">
          <div class="card-body px-lg-7">
            <img
              class="img-fluid"
              alt="Responsive image"
              src="../../back/assets/img/custom/examwait.png"
              alt=""
            />
            <h3 class="text-center mb-4 text-primary">
              Ujian Telah selesai dilakukan
            </h3>
            <h5 class="text-center mb-4 text-muted">
              Silahkan Menunggu Pengumuman
            </h5>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>
  </div>
</div>
