<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Live - Mentoring</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
      <script>
        callFrame = window.DailyIframe.createFrame({
          showLeaveButton: true,
          iframeStyle: {
            position: "fixed",
            width: "100%",
            height: "100%",
            border: "none",
          },
        });
        callFrame
          .join({
            url: "https://expert-assist.daily.co/<%=schedule.link%>",
          })
          .then((data) => {
            console.log(data);
          })
          .catch((err) => console.log(err));
      </script>

      <div
        class="fixed-top mb-2 text-center mx-auto justify-content-center"
        style="width: 100%;"
      >
        <nav
          class="navbar navbar-expand-lg navbar-light bg-light mx-auto text-center justify-content-center"
        >
          <span class="navbar-text">
            <button
              type="button"
              class="badge badge-secondary btn-outline-dark"
              id="btnSummary"
            >
              Summary
            </button>
          </span>
          <span class="navbar-text mr-3 ml-3">
            <a class="h4 text-danger font-weight-bold" id="time"></a>
          </span>
          <span class="navbar-text">
            <form action="/mentor/mentoring/finish" method="POST" id="liveForm">
              <input type="hidden" name="id" value="<%=schedule._id%>" />
              <input type="hidden" name="status" value="true" />
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button
                type="button"
                class="badge badge-danger btn-outline-dark"
                id="btnFinish"
              >
                Finish
              </button>
            </form>
          </span>
        </nav>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
    <script>
      // Set the date we're counting down to
      let countDownDate = new Date("<%-endTime%>").getTime();

      // Update the count down every 1 second
      let x = setInterval(function () {
        // Get today's date and time
        let now = new Date().getTime();

        // Find the distance between now and the count down date
        let distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        let hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="time"
        document.getElementById("time").innerHTML =
          hours + ":" + minutes + ":" + seconds;

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("time").innerHTML = "Times Up !";
        }
      }, 1000);
    </script>
    <script>
      $(document).ready(function () {
        let momentStartTime = "<%-momentStartTime%>";
        let momentEndTime = "<%-momentEndTime%>";
        let user = "<%=voca.titleCase(schedule.user.username)%>";
        $("#btnSummary").click(() => {
          Swal.fire({
            icon: "info",
            title: `${user} Schedule Status`,
            text: `Startime : ${momentStartTime} ◾ EndTime : ${momentEndTime}`,
          });
        });
        $("#btnFinish").click(function (e) {
          e.preventDefault();
          Swal.fire({
            title: "Are you sure?",
            text: "Mentoring Status will Change",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Finish",
          }).then((result) => {
            if (result.value) {
              Swal.fire(
                "Finished!",
                "Congratulation, Mentoring has finished",
                "success"
              ).then(() => {
                $("#liveForm").submit();
              });
            } else {
              Swal.fire("Cancel!", "Ok, Always Be carefull", "warning");
            }
          });
        });
      });
    </script>
  </body>
</html>
