<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-dark d-inline-block mb-0">Profile</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="https://www.pexels.com/"
              target="_blank"
              class="btn btn-sm btn-neutral"
              >Pexel</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-11 card-wrapper">
        <!-- Headings -->
        <form
          id="formProfile"
          action="/mentor/profile/update?_csrf=<%=csrfToken%>"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="card">
            <div class="card-header text-center mx-auto">
              <img
                class="img-fluid"
                alt="Responsive image"
                src="../../back/assets/img/custom/updateprofile.svg"
                alt=""
                width="45%"
              />
            </div>
            <div class="card-body">
              <h4 class="text-primary mt-b border-primary border-bottom">
                Personal Stuff
              </h4>
              <div class="row py-3 align-items-center">
                <input type="hidden" name="id" value="<%=mentor._id%>" />
                <div class="col-lg-6">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    id="username"
                    class="form-control text-dark"
                    name="username"
                    placeholder="username"
                    value="<%=mentor.username%>"
                    disabled
                  />
                </div>
                <div class="col-lg-6">
                  <label>Your Price</label>
                  <input
                    type="number"
                    id="price"
                    class="form-control text-dark"
                    name="price"
                    placeholder="price"
                    value="<%=mentor.price%>"
                    required
                  />
                </div>
              </div>
              <div class="row py-3 align-items-center">
                <div class="col-lg-6">
                  <label>Profile Picture</label>
                  <input
                    type="file"
                    class="form-control form-control-sm profilepicture"
                    name="profilepicture"
                  />
                </div>
                <div class="col-lg-6">
                  <label>Cover Picture</label>
                  <input
                    type="file"
                    class="form-control form-control-sm coverpicture"
                    name="coverpicture"
                  />
                </div>
              </div>
              <div class="row py-3 align-items-center">
                <div class="col-lg-6">
                  <label>Job</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="job"
                    placeholder="job"
                    value="<%=mentor.job%>"
                  />
                </div>
                <div class="col-lg-6">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="city"
                    placeholder="city"
                    value="<%=mentor.city%>"
                  />
                </div>
              </div>

              <h4 class="text-primary mt-4 border-primary border-bottom">
                Bank Account
              </h4>

              <div class="row py-3 align-items-center">
                <div class="col-lg-6">
                  <label>Bank Name</label>
                  <select
                    id="bankname"
                    class="form-control experience text-dark"
                    name="bankname"
                    value="<%=mentor.bankname%>"
                    required
                  >
                   <option value="<%=mentor.bankname%>" selected hidden
                      ><%=mentor.bankname%></option
                    >
                    <option value="BRI">BRI</option>
                    <option value="BCA">BCA</option>
                    <option value="BRIS">BRI SYARIAH</option>
                    <option value="Mandiri">MANDIRI</option>
                    <option value="BNI">BNI</option>
                    <option value="Muamalat">MUAMALAT</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>Account Number</label>
                  <input
                    type="number"
                    id="bankaccount"
                    class="form-control text-dark"
                    name="bankaccount"
                    placeholder="bankaccount"
                    value="<%=mentor.bankaccount%>"
                    required
                  />
                </div>
              </div>

              <h4 class="text-primary mt-4 border-primary border-bottom">
                Contact & Social Media
              </h4>

              <div class="row py-3 align-items-center">
                <div class="col-lg-3">
                  <label>Phone</label>
                  <input
                    type="number"
                    id="phone"
                    class="form-control text-dark"
                    name="phone"
                    placeholder="phone"
                    value="<%=mentor.phone%>"
                    required
                  />
                </div>
                <div class="col-lg-3">
                  <label>Twitter</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="twitter"
                    placeholder="Twitter"
                    value="<%=mentor.twitter%>"
                  />
                </div>
                <div class="col-lg-3">
                  <label>Linkedin</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="linkedin"
                    placeholder="linkedin"
                    value="<%=mentor.linkedin%>"
                  />
                </div>
                <div class="col-lg-3">
                  <label>Github</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="github"
                    placeholder="github"
                    value="<%=mentor.github%>"
                  />
                </div>
              </div>
              <h4 class="text-primary mt-4 border-primary border-bottom">
                Skill & Expertise
              </h4>
              <div class="row py-3 align-items-center">
                <div class="col-lg-4">
                  <label>Years Experience</label>
                  <select
                    class="form-control experience text-dark"
                    name="experience"
                    value="<%=mentor.experience%>"
                  >
                    <option value="<%=mentor.experience%>" selected hidden
                      ><%=mentor.experience%></option
                    >
                    <option value="1 Years">1 Years</option>
                    <option value="2-4 Years">2-4 Years</option>
                    <option value="5-10 Years">5-10 Years</option>
                    <option value="above 10 Years">Above 10 Years</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>Portofolio Link</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="portofolio"
                    placeholder="portofolio "
                    value="<%=mentor.portofolio%>"
                  />
                </div>
                <div class="col-lg-4">
                  <label>CV Link</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="cv"
                    placeholder="cv"
                    value="<%=mentor.cv%>"
                  />
                </div>
              </div>
              <div class="row py-3 align-items-center">
                <div class="col-lg-12">
                  <label>Profile Bio</label>
                  <input
                    type="text"
                    class="form-control text-dark"
                    name="bio"
                    placeholder="bio"
                    value="<%=mentor.bio%>"
                  />
                </div>
              </div>
              <div class="row py-3 align-items-center">
                <div class="col-lg-12">
                  <label>Skillset</label>
                  <input
                    type="text"
                    placeholder="Write your skill here"
                    id="skill"
                    class="demo-default"
                    name="skill"
                    value="<%=mentor.skill%>"
                    required
                  />
                </div>
              </div>
              <div class="row py-3 align-items-center">
                <div class="col-lg-12">
                  <label>Description</label>
                  <textarea
                    row="8"
                    class="form-control"
                    id="summernote"
                    name="desc"
                  >
                    <%=mentor.desc%></textarea
                  >
                </div>
              </div>
              <div class="col-sm-12 text-center pt-2 pb-2">
                <button id="buttonAlert" type="button" class="btn btn-primary">
                  Update Profiles
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $("#buttonAlert").click(function (e) {
          e.preventDefault();
          let username = $("#username").val();
          let price = $("#price").val();
          let bankname = $("#bankname").val();
          let bankaccount = $("#bankaccount").val();
          let phone = $("#phone").val();

          if (
            username == "" ||
            price == "" ||
            bankname == "" ||
            bankaccount == "" ||
            phone == ""
          ) {
            Swal.fire(
              "Input Data Kosong",
              "Silahkan isi Data penting yang masih kosong",
              "warning"
            );
          } else {
            Swal.fire({
              icon: "success",
              title: "Success!",
              text: "Data Successfully Submit",
            }).then(function () {
              $("#formProfile").submit();
            });
          }
        });
      });
    </script>

    <script>
      $("#summernote").summernote({
        placeholder: "Describe yourself here...",
        tabsize: 2,
        height: 350,
        toolbar: [
          ["style", ["style"]],
          ["font", ["bold", "underline", "clear"]],
          ["fontname", ["fontname"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["table", ["table"]],
          ["insert", ["link", "picture", "video"]],
          ["view", ["fullscreen", "codeview", "help"]],
          ["height", ["height"]],
        ],
      });
    </script>

    <%-include('../../layouts/back/mentor/footer.ejs')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../../back/assets/js/selectize.js"></script>

    <script>
      $(document).ready(() => {
        $("#skill").selectize({
          persist: false,
          delimiter: ",",
          createOnBlur: true,
          maxItems: 15,
          create: true,
        });
      });
    </script>
  </div>
</div>
