<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-primary d-inline-block mb-0">User Review</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Feedback</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-neutral tombolTambahData"
                    data-toggle="modal"
                    data-target="#modal-form"
                    >Download</a
                  >
                </div>
              </div>
            </div>
            
          <% if(review == "") { %>
            <div class="row text-center justify-content-center">
              <div class="col">
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/no-review.svg"
                  alt=""
                  style="width: 40%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Anda tidak memiliki review apapun
                </h4>
              </div>
            </div>
            <% }else{ %>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>User</th>
                    <th>Review</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% review.forEach(reviewData=>{ %>
                    <td class="table-user">
                      <b><%= reviewData.user.username %> </b>
                    </td>
                    <td>
                      <span class="text-muted"><%= reviewData.content %></span>
                    </td>
                    <td class="text-center">
                      <span class="text-muted "
                        ><%= moment(reviewData.datetime).format("LL") %></span
                      >
                    </td>
                    <td class="text-center">
                      <span class="text-muted "
                        ><%= moment(reviewData.datetime).format("LT") %></span
                      >
                    </td>
                    <td>
                      <div
                        style="font-size: 17px;color: orange;"
                        class="rate mx-auto justify-content-center"
                        data-rate-value="<%= reviewData.rating%>"
                      ></div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>
  </div>
</div>

<!-- Jqeury -->
<script>
  $(document).ready(function() {
    let options = {
      max_value: 10,
      readonly: true
    };
    $(".rate").rate(options);
  });
</script>
