<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-dark d-inline-block mb-0">Schedule</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-neutral tombolTambahData"
              data-toggle="modal"
              data-target="#modal-form"
              >New</a
            >
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Approval Booking</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Note</th>
                    <th>Link</th>
                    <th class="text-center">Approval</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% schedule.forEach(scheduleData=>{ %>
                  <tr>
                    <td class="table-user">
                      <b><%= scheduleData.user.username %> </b>
                    </td>
                    <td>
                      <span class="text-dark"
                        ><%= scheduleData.user.email %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LL") %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LT") %></span
                      >
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%= scheduleData.note %>
                      </a>
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%= scheduleData.link %>
                      </a>
                    </td>
                    <td class="text-center">
                      <% if(scheduleData.approve==true) { %>
                      <a href="#!" class="font-weight-bold"
                        ><%= scheduleData.approve %>
                      </a>
                      <% } else { %>
                      <a href="#!" class="font-weight-bold text-danger"
                        ><%= scheduleData.approve %>
                      </a>
                      <% } %>
                    </td>
                    <td class="table-actions myTd">
                      <form method="POST" action="/mentor/schedule/delete">
                        <a
                          href="javascript:void(0);"
                          class="table-action edit"
                          data-original-title="Edit category"
                          data-toggle="modal"
                          data-target="#exampleModal"
                          data-id="<%=scheduleData._id%>"
                          data-approve="<%=scheduleData.approve%>"
                          data-username="<%=scheduleData.user.username%>"
                          data-link="<%=scheduleData.link%>"
                        >
                          <i class="fas fa-user-edit"></i>
                        </a>
                        <input
                          type="hidden"
                          value="<%= scheduleData._id %>"
                          name="id"
                        />
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <button
                          type="submit"
                          onclick="return confirm('Are you sure you want to delete?');"
                          class="table-action btn btn-sm"
                          data-toggle="tooltip"
                          data-original-title="Delete Category"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Booking Aproval</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/mentor/schedule/update" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="id" class="id" />
                <input
                  type="text"
                  class="form-control username"
                  id="exampleInputPassword1"
                  readonly="true"
                />
              </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Link</label>
                <input
                  type="text"
                  class="form-control link"
                  id="exampleInputPassword1"
                  name="link"
                />
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Approval</label>
                <select
                  class="form-control "
                  id="exampleFormControlSelect1"
                  required
                  name="approve"
                >
                  <option selected value="">Choose One...</option>
                  <option value="false">Reject</option>
                  <option value="true">Approve</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Jquery -->
    <script>
      $(document).ready(function() {
        $(".myTd").on("click", ".edit", function() {
          var id = $(this).data("id");
          console.log(id);
          var approve = $(this).data("approve");
          var username = $(this).data("username");
          var link = $(this).data("link");
          $(".approve").val(approve);
          $(".username").val(username);
          $(".link").val(link);
          $(".id").val(id);
        });
      });
    </script>

    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>
  </div>
</div>
