<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-dark d-inline-block mb-0">Schedule</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-neutral tombolTambahData"
              data-toggle="modal"
              data-target="#modal-form"
              >New</a
            >
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Approval Booking</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <% if(schedule == "") { %>
            <div class="row text-center justify-content-center">
              <div class="col">
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/user-forbid-schedule.svg"
                  alt=""
                  style="width: 45%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Jadwal mentoring belum ada
                </h4>
              </div>
            </div>
            <% }else{ %>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Note</th>
                    <th class="text-center">Approval</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% schedule.forEach(scheduleData=>{ %>
                  <tr>
                    <td class="table-user">
                      <b><%= scheduleData.user.username %> </b>
                    </td>
                    <td>
                      <span class="text-dark"
                        ><%= scheduleData.user.email %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LL") %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LT") %></span
                      >
                    </td>
                    <td>
                      <% if (schedule.note == "" || schedule.note==null){ %>
                      <a href="#!" class="text-muted">Nothing </a>
                      <% }else{ %>
                      <a href="#!" class="font-weight-bold"
                        ><%= scheduleData.note %>
                      </a>
                      <% } %>
                    </td>

                    <td class="text-center">
                      <% if (scheduleData.approve == "false") { %>
                      <span class="badge badge-pill badge-warning text-dark"
                        >Waiting</span
                      >
                      <% } else if(scheduleData.approve=="reject"){ %>
                      <span class="badge badge-pill badge-dark text-white"
                        >Reject</span
                      >
                      <% } else { %>
                        <span class="badge badge-pill badge-success text-dark"
                        >Approve</span
                      >
                      <% } %> 
                    </td>

                    <td class="table-actions myTd text-center">
                      <% if(scheduleData.approve=="true" || scheduleData.approve=="reject"){ %>
                        <i class="fas fa-check-circle"></i>
                      <% }else{%>  
                      <a
                        href="javascript:void(0);"
                        class="table-action edit"
                        data-original-title="Edit category"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        data-id="<%=scheduleData._id%>"
                        data-approve="<%=scheduleData.approve%>"
                        data-username="<%=scheduleData.user.username%>"
                      >
                     <i class="far fa-calendar-check fa-lg text-primary"></i>
                      </a>
                    <% } %> 
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Booking Aproval</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="/mentor/schedule/update" method="POST">
            <div class="modal-body">
              <div class="form-group">
                <label for="exampleInputPassword1">Username</label>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="id" class="id" />
                <input
                  type="hidden"
                  name="link"
                  value="<%=mentor.videocallroom%>"
                />
                <input
                  type="text"
                  class="form-control username"
                  id="exampleInputPassword1"
                  readonly="true"
                />
              </div>

              <div class="form-group">
                <label for="exampleFormControlSelect1">Approval</label>
                <select
                  class="form-control text-dark font-weight-bold
                  id="exampleFormControlSelect1"
                  required
                  name="approve"
                >
                  <option selected value="false">Choose One...</option>
                  <option value="reject">Reject</option>
                  <option value="true">Approve</option>
                </select>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>
    <!-- Jquery -->
    <script>
      $(document).ready(function () {
        $(".myTd").on("click", ".edit", function () {
          var id = $(this).data("id");
          console.log(id);
          var approve = $(this).data("approve");
          var username = $(this).data("username");
          var link = $(this).data("link");
          $(".approve").val(approve);
          $(".username").val(username);
          $(".link").val(link);
          $(".id").val(id);
        });
      });
    </script>
  </div>
</div>
