<%-include('../../layouts/back/mentor/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/mentor/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/mentor/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-primary d-inline-block mb-0">
              Withdraw
            </h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-neutral tombolTambahData"
              data-toggle="modal"
              data-target="#modal-form"
              >New</a
            >
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-5">
        <div class="card-wrapper">
          <!-- Input groups -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Input Request</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <% if(!payment || payment.total==null) { %>
              <div class="row icon-examples">
                <div class="div mx-auto justify-content-center text-center">
                  <img
                    class="img-fluid"
                    alt="Responsive image"
                    src="../../back/assets/img/custom/user-forbid-schedule.svg"
                    alt=""
                    style="width: 55%;"
                  />
                  <h4 class="text-center mb-4 text-primary pt-4">
                    Anda belum menyelesaikan proses mentoring
                  </h4>
                </div>
              </div>
              <% } else if(payment) { %>
              <form id="formWithdraw" action="/mentor/withdraw" method="POST">
                <!-- Input groups with icon -->
                <input type="hidden" name="mentor" value="<%=mentor._id%>" />
                <input
                  type="hidden"
                  name="intialincome"
                  value="<%=payment.total%>"
                />
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="income">Your Income</label>
                      
                      <input
                        type="text"
                        class="form-control form-control-sm border-success bg-secondary font-weight-bold text-dark"
                        id="income"
                        readonly="true"
                        value="Rp.<%=currency(mentor.income,{separator:",",precision:0}).format()  %>"
                      />
                      <small class="form-text text-muted"
                        >Real Income = Withdraw - Tax</small
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="total">Withdraw</label>
                      <input
                        type="number"
                        class="form-control"
                        id="total"
                        name="total"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="total">Tax</label>
                      <input
                        class="form-control bg-secondary text-dark border-info"
                        value="5%"
                        readonly="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-credit-card"></i
                          ></span>
                        </div>
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <input
                          class="form-control"
                          placeholder="Note"
                          type="text"
                          name="note"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center mx-auto">
                    <button
                      id="buttonAlert"
                      type="button"
                      class="btn btn-sm btn-primary"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Plan The Schedule</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% withdraw.forEach(withdrawData=>{ %>
                  <tr
                    class="<%= withdrawData.status == true ? 'bg-white' : 'bg-white' %>"
                  >
                    <td class="table-user">
                      <b><%=currency(withdrawData.total,{separator:",",precision:0}).format() %> </b>
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(withdrawData.datetime).format("LL") %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(withdrawData.datetime).format("LT") %></span
                      >
                    </td>
                    <td class="table-status text-center">
                      <% if (withdrawData.status==false) { %>
                      <span class="badge badge-danger text-dark pl-2 pr-2"
                        >Waiting
                      </span>
                      <% } else { %>
                      <span class="badge badge-success text-dark pl-2 pr-2"
                        >Finish
                      </span>
                      <% } %>
                    </td>
                    <td class="text-center">
                      <form
                        id="deleteForm"
                        action="/mentor/withdraw/delete"
                        method="POST"
                      >
                        <input
                          type="hidden"
                          name="id"
                          value="<%=withdrawData._id%>"
                        />
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <% if(withdrawData.status==false) { %>
                        <button
                          id="deleteAlert"
                          type="button"
                          class="table-action btn btn-sm"
                          data-toggle="tooltip"
                          data-original-title="Cancel Withdraw"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                        <% } else { %>
                        <i class="fas fa-check-circle text-success"></i>
                        <% } %>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%-include('../../layouts/back/mentor/footer.ejs')%>

    <script>
      $(document).ready(function () {
        $("#buttonAlert").click(function (e) {
          e.preventDefault();
          Swal.fire({
            icon: "success",
            title: "Success!",
            text: "Request Successfully Send",
          }).then(function () {
            $("#formWithdraw").submit();
          });
        });

        $("#deleteAlert").click(function (e) {
          e.preventDefault();
          Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!",
          }).then(function (result) {
            if (result.value) {
              $("#deleteForm").submit();
            }
          });
        });
      });
    </script>
  </div>
</div>
