<%-include('../../layouts/back/user/checkoutHeader.ejs')%>
<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-6 py-lg-7 pt-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class="text-white">Lock screen</h1>
            <p class="text-lead text-white">Better to be safe than sorry.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--7 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card card-profile bg-secondary ">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <img
                  src="https://cdn3.iconfinder.com/data/icons/finance-152/64/34-512.png"
                  class="rounded-circle border-secondary"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-7 px-5">
            <div class="text-center mb-4">
              <h3>Payment</h3>
            </div>
            <form>
              <div class="form-group">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control text-dark"
                    readonly="true"
                    type="text"
                    value="<%=mentorUsername%>"
                  />
                </div>
              </div>
              <div class="form-group">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control text-dark"
                    readonly="true"
                    type="text"
                    value="<%=user.username%>"
                  />
                </div>
              </div>
              <div class="form-group">
                <div
                  class="input-group input-group-merge input-group-alternative"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-lock-circle-open"></i
                    ></span>
                  </div>
                  <input
                    class="form-control text-dark"
                    type="text"
                    value="<%=mentorPrice%>"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="text-center">
                <button
                  id="order-btn"
                  type="button"
                  class="btn btn-primary mt-2"
                >
                  Pay
                </button>
                <script src="https://js.stripe.com/v3/"></script>
                <script>
                  var stripe = Stripe(
                    "pk_test_aizyuZSfxUWtBIVVV7EwUJds00wLmc4Zpw"
                  );
                  var orderBtn = document.getElementById("order-btn");
                  orderBtn.addEventListener("click", function() {
                    stripe.redirectToCheckout({
                      sessionId: "<%= sessionId %>"
                    });
                  });
                </script>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<%-include('../../layouts/back/user/checkoutFooter.ejs')%>
