<%-include('../../layouts/back/user/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/user/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/user/topNav.ejs')%>
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-primary d-inline-block mb-0">Mentoring</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            ></nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row justify-content-center">
      <div class="col-lg-11">
        <div class="card">
          <div class="card-header bg-transparent">
            <h3 class="mb-0 text-muted">Happy Mentoring</h3>
          </div>
          <div class="card-body">
            <div class="row icon-examples">
              <div class="div mx-auto justify-content-center text-center">
                <% if (!payment || payment==null || schedule.status==true) { %>
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/user-notyet-pay.svg"
                  alt=""
                  style="width: 35%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Anda belum membayar satupun mentor
                </h4>
                <% } else if (!schedule || schedule == null) { %>
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/user-notyet-booking.svg"
                  alt=""
                  style="width: 40%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Anda belum membuat jadwal , Segera lakukan transaksi & request
                  jadwal dengan mentor anda
                </h4>
                <% } else if(schedule.approve==false) { %>
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/user-notyet-approve.svg"
                  alt=""
                  style="width: 40%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Jadwal anda belum di Approve Mentor , Mohon Menunggu
                </h4>
                <% } else { %>
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/user-mentoring.svg"
                  alt=""
                  style="width: 35%;"
                />
                <div class="mx-auto text-center mt-4">
                  <% if(dateTimeNow.getTime() == dateTimeSchedule.getTime() ||
                  dateTimeNow.getTime() > dateTimeSchedule.getTime() ) { %>
                  <button class="btn btn-primary">
                    <a class="text-white" href="/user/mentoring/live"
                      >Go Live</a
                    >
                  </button>
                  <h4 class="text-center mb-4 text-primary pt-4">
                    Happy Mentoring - Hope Your Problem Solve Soon
                  </h4>
                  <% }else{ %>
                  <h3 class="text-danger mt-3 text-danger font-weight-bold">
                    Waktu Mentoring Tiba Dalam:
                    <h1 clas="text-danger font-weight-bold" id="demo"></h1>
                  </h3>
                  <span class="badge badge-danger"
                    >Waktu Mentoring Belum Tiba</span
                  >
                  <% } %>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="col-md-6">
      <div
        class="modal fade"
        id="modal-form"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-form"
        aria-hidden="true"
      >
        <div class="modal-dialog modal- modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4 mt-4">
                    <h3 id="formModalLabel">Mentor Review</h3>
                  </div>
                  <form role="form" method="POST" action="/user/review/">
                    <div class="form-group mb-4">
                      <label for="exampleFormControlTextarea1">Rating</label>
                      <div
                        class="input-group input-group-merge input-group-alternative"
                      >
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <input type="hidden" name="id" class="id" />

                        <input
                          type="hidden"
                          name="user"
                          value="<%= schedule.user %>"
                        />
                        <input
                          type="hidden"
                          name="mentor"
                          value="<%= schedule.mentor %>"
                        />
                        <input id="rating" type="hidden" name="rating" />
                        <div
                          style="font-size: 30px; color: orange;"
                          class="ratePost mx-auto justify-content-center"
                        ></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Review</label>
                      <textarea
                        class="form-control content"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        name="content"
                      ></textarea>
                    </div>
                    <div class="text-center button-dynamic">
                      <button
                        type="submit"
                        class="btn btn-primary my-4 text-center button-dynamic"
                      >
                        RATE
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <%-include('../../layouts/back/user/footer.ejs')%>
    <script>
      // Set the date we're counting down to
      let countDownDate = new Date("<%-dateTimeSchedule%>").getTime();

      // Update the count down every 1 second
      let x = setInterval(function () {
        // Get today's date and time
        let now = new Date().getTime();

        // Find the distance between now and the count down date
        let distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        let days = Math.floor(distance / (1000 * 60 * 60 * 24));
        let hours = Math.floor(
          (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
        );
        let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        if (days == "") {
          document.getElementById("demo").innerHTML =
            hours + " jam " + minutes + " menit " + seconds + " detik ";
        } else if (days > 0) {
          document.getElementById("demo").innerHTML =
            days +
            " hari " +
            hours +
            " jam " +
            minutes +
            " menit " +
            seconds +
            " detik ";
        }

        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML =
            "WAKTU MENTORING TIBA - SILAHKAN REFRESH BROWSER";
        }
      }, 1000);
    </script>
  </div>
</div>
