<%-include('../../layouts/back/user/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/user/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/user/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div
    class="header pb-6 d-flex align-items-center"
    style="
      min-height: 370px;
      background-image: url(https://images.pexels.com/photos/633566/pexels-photo-633566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
      background-size: cover;
      background-position: center top;
    "
  >
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-2"></span>
    <!-- Header container -->
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6 justify-content-center mx-auto">
    <div class="row">
      <div class="col-xl-11 order-xl-2 justify-content-center mx-auto">
        <div class="card card-profile" id="user-card">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <% if(!user.profilepicture){ %>
                  <img
                    src="https://cdn0.iconfinder.com/data/icons/kameleon-free-pack-rounded/110/Man-6-512.png"
                    class="rounded-circle"
                  />
                  <% }else{ %>
                  <img
                    src="/<%= user.profilepicture %> "
                    class="rounded-circle"
                  />
                  <% } %>
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-5 pt-md-4 pb-0 pb-md-4"
          >
            <div class="d-flex justify-content-between ml-4 mr-4">
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-primary update"
                data-toggle="modal"
                data-target="#exampleModalCenter"
                data-id="<%=user._id%>"
                data-username="<%=user.username%>"
                data-bio="<%=user.bio%>"
                data-profilepicture="<%=user.profilepicture%>"
                data-job="<%=user.job%>"
                data-city="<%=user.city%>"
                data-phone="<%=user.phone%>"
                data-twitter="<%=user.twitter%>"
                data-github="<%=user.github%>"
                data-linkedin="<%=user.linkedin%>"
                >Update</a
              >
              <a
                href="#"
                id="changepass"
                class="btn btn-sm btn-default float-right"
                data-toggle="modal"
                data-target="#changepassword"
                >Change Pass</a
              >
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col">
                <div class="text-center">
                  <h1 class="font-weight-bold">
                    <%=user.username%>
                  </h1>
                  <div class="h5 font-weight-300">
                    <i class="ni location_pin mr-2"></i><%=user.city%> -
                    <%=user.job%>
                  </div>
                </div>
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <div class="h5">
                <% var bio=user.bio %>
                <i class="ni business_briefcase-24 mr-2"></i>
                <%= user.bio == null ? "Not Set" : bio.toUpperCase() %>
              </div>
            </div>
            <hr />
            <div class="row mt-3 text-center mx-auto justify-content-center">
              <div class="col-md-3">
                <i class="fas fa-phone mr-2 fa-lg"></i><%= user.phone %>
              </div>
              <div class="col-md-3">
                <i class="fab fa-twitter mr-2 fa-lg"></i><%= user.twitter %>
              </div>
              <div class="col-md-3">
                <i class="fab fa-github mr-2 fa-lg"></i><%= user.github %>
              </div>
              <div class="col-md-3">
                <i class="fab fa-linkedin mr-2 fa-lg"></i><%= user.linkedin %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modals change password -->
    <div
      class="modal fade"
      id="changepassword"
      tabindex="-1"
      role="dialog"
      aria-labelledby="changepasswordLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changepasswordLabel">
              Change Password
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div
              class="alert alert-danger"
              role="alert"
              id="error-group"
              style="display: none;"
            >
              <ul id="errors"></ul>
            </div>
            <form method="POST">
              <div class="form-group">
                <input type="hidden" name="id" value="<%=user._id%>" />
                <label for="exampleInputEmail1">Old Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Type old password"
                  name="password"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">New Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="newPassword"
                  placeholder="New Password"
                  name="newPassword"
                />
                <input
                  id="showPass"
                  class="mt-2 ml-1 mr-1"
                  type="checkbox"
                /><small class="text-muted">Show Password</small>
              </div>
              <div class="text-center justify-content-center">
                <button
                  id="changePassword"
                  type="button"
                  class="btn btn-primary mt-2 mx-auto"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Profile -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Profile Details
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form
                id="formUpdateProfile"
                action="/user/profile/update?_csrf=<%=csrfToken%>"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="hidden" name="id" class="id" />
                      <label for="recipient-name" class="col-form-label"
                        >Username</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm username text-dark"
                        name="username"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="hidden" name="id" class="id" />
                      <label for="recipient-name" class="col-form-label"
                        >Profile Picture</label
                      >
                      <input
                        type="file"
                        class="form-control form-control-sm profilepicture"
                        name="profilepicture"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Job</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm job text-dark"
                        name="job"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Bio</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm bio text-dark"
                        name="bio"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >City</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm city text-dark"
                        name="city"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Phone</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm phone text-dark"
                        name="phone"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Twitter</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm twitter text-dark"
                        name="twitter"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Github</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm github text-dark"
                        name="github"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="message-text" class="col-form-label"
                        >Linkedin</label
                      >
                      <input
                        type="text"
                        class="form-control form-control-sm linkedin text-dark"
                        name="linkedin"
                      />
                    </div>
                  </div>
                </div>

                <div class="modal-footer justify-content-center mx-auto">
                  <button
                    id="buttonAlert"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Save changes
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
      $(document).ready(function () {
        $("#buttonAlert").click(function (e) {
          e.preventDefault();
          Swal.fire({
            icon: "success",
            title: "Success!",
            text: "Data Successfully Submit",
          }).then(function () {
            $("#formUpdateProfile").submit();
          });
        });

        $("#user-card").on("click", ".update", function () {
          var id = $(this).data("id");
          console.log(id);
          var username = $(this).data("username");
          var bio = $(this).data("bio");
          var job = $(this).data("job");
          var city = $(this).data("city");
          var phone = $(this).data("phone");
          var twitter = $(this).data("twitter");
          var github = $(this).data("github");
          var linkedin = $(this).data("linkedin");
          $(".id").val(id);
          $(".username").val(username);
          $(".job").val(job);
          $(".bio").val(bio);
          $(".phone").val(phone);
          $(".city").val(city);
          $(".twitter").val(twitter);
          $(".github").val(github);
          $(".linkedin").val(linkedin);
        });

        $("#changepass").click(function () {
          $("input[name=password]").val("");
          $("input[name=newPassword]").val("");
        });

        // ** POST AJAX
        $("#changePassword").click(function (e) {
          e.preventDefault();
          let id = $("input[name=id]").val();
          let password = $("input[name=password]").val();
          let newPassword = $("input[name=newPassword]").val();
          $.ajax({
            type: "POST",
            url: "/user/profile/changepassword?_csrf=<%=csrfToken%>",
            dataType: "json",
            data: {
              id: id,
              password: password,
              newPassword: newPassword,
            },
          })
            .done(function (data) {
              let newData = JSON.stringify(data);
              console.log(newData);
              $("input[name=password]").val("");
              $("input[name=newPassword]").val("");
              $("#error-group").css("display", "none");
              Swal.fire("Good job!", "You change the password!", "success");
            })
            .fail(function (data) {
              $("#error-group").css("display", "block");
              var errors = JSON.parse(data.responseText);
              console.log(errors);
              console.log(data.responseText);

              var errorsContainer = $("#errors");
              errorsContainer.innerHTML = "";
              var errorsList = "Password Incorect";

              for (var i = 0; i < errors.length; i++) {
                errorsList += "<li>" + errors[i].msg + "</li>";
              }

              errorsContainer.html(errorsList);

              Swal.fire("Something wrong!", "Error Occured", "error");
            });
        });

        $("#showPass").change(function () {
          if ($(this).is(":checked")) {
            $("#newPassword").attr("type", "text");
          } else {
            $("#newPassword").attr("type", "password");
          }
        });
      });
    </script>
    <%-include('../../layouts/back/user/footer.ejs')%>
  </div>
</div>
