<%-include('../../layouts/back/user/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/user/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/user/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-primary d-inline-block mb-0">Mentor Review</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Feedback</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-neutral tombolTambahData"
                    data-toggle="modal"
                    data-target="#modal-form"
                    >Create</a
                  >
                </div>
              </div>
            </div>

            <% if (review=="" || !review) { %>
            <div class="row text-center justify-content-center">
              <div class="col">
                <img
                  class="img-fluid"
                  alt="Responsive image"
                  src="../../back/assets/img/custom/no-review.svg"
                  alt=""
                  style="width: 30%;"
                />
                <h4 class="text-center mb-4 text-primary pt-4">
                  Anda belum memberi review apapun , karena belum melakukan
                  transaksi
                </h4>
              </div>
            </div>
            <% }else{ %>

            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table_id">
                <thead class="thead-light">
                  <tr>
                    <th>Mentor</th>
                    <th>Review</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% review.forEach(reviewData=>{ %>
                    <td class="table-user">
                      <b><%= reviewData.mentor.username %> </b>
                    </td>
                    <td>
                      <span class="text-muted"><%= reviewData.content %></span>
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(reviewData.datetime).format("LL") %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(reviewData.datetime).format("LT") %></span
                      >
                    </td>
                    <td>
                      <div
                        style="font-size: 17px; color: orange;"
                        class="rate mx-auto justify-content-center"
                        data-rate-value="<%= reviewData.rating%>"
                      ></div>
                    </td>
                    <td class="table-actions myTd text-center">
                      <form method="POST" action="/user/review/delete">
                        <a
                          href="javascript:void(0);"
                          class="table-action edit"
                          data-original-title="Edit category"
                          data-toggle="modal"
                          data-target="#modal-form"
                          data-id="<%=reviewData._id%>"
                          data-content="<%=reviewData.content%>"
                          data-rate-value="<%=reviewData.rating%>"
                        >
                          <i class="fas fa-user-edit"></i>
                        </a>
                        <input
                          type="hidden"
                          value="<%= reviewData._id %>"
                          name="id"
                        />
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <button
                          type="submit"
                          onclick="return confirm('Are you sure you want to delete?');"
                          class="table-action btn btn-sm"
                          data-toggle="tooltip"
                          data-original-title="Delete Review"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <% if (schedule) { %>
    <!-- Modals -->
    <div class="col-md-6">
      <div
        class="modal fade"
        id="modal-form"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-form"
        aria-hidden="true"
      >
        <div class="modal-dialog modal- modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4 mt-4">
                    <h3 id="formModalLabel">Update Review</h3>
                  </div>
                  <form role="form" method="POST" action="/user/review/update">
                    <div class="form-group mb-4">
                      <label for="exampleFormControlTextarea1">Rating</label>
                      <div
                        class="input-group input-group-merge input-group-alternative"
                      >
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <input type="hidden" name="id" class="id" />

                        <input
                          type="hidden"
                          name="user"
                          value="<%= schedule.user %>"
                        />
                        <input
                          type="hidden"
                          name="mentor"
                          value="<%= schedule.mentor %>"
                        />
                        <input id="rating" type="hidden" name="rating" />
                        <div
                          style="font-size: 30px; color: orange;"
                          class="ratePost mx-auto justify-content-center"
                        ></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Review</label>
                      <textarea
                        class="form-control content"
                        id="exampleFormControlTextarea1"
                        rows="3"
                        name="content"
                      ></textarea>
                    </div>
                    <div class="text-center button-dynamic">
                      <button
                        type="submit"
                        class="btn btn-primary my-4 text-center button-dynamic"
                      >
                        Update
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <!-- Footer -->
    <%-include('../../layouts/back/user/footer.ejs')%>
  </div>
</div>

<!-- Jqeury -->
<script>
  $(document).ready(function () {
    $("#table_id").DataTable({
      ordering: false,
      stateSave: true,
      pagingType: "simple_numbers",
      language: {
        paginate: {
          first: "«",
          previous: "‹",
          next: "›",
          last: "»",
        },
      },
      responsive: true,
    });

    let options1 = {
      max_value: 10,
      readonly: true,
    };
    $(".rate").rate(options1);

    // ** Create Button
    $(".tombolTambahData").on("click", function () {
      $("#formModalLabel").html("Create review");
      $(".button-dynamic button[type=submit]").html("Submit");
      $(".content").val("");
      $(".rating").val("");
      $(".rate-post").val("");

      $(".modal-body form").attr("action", "/user/review/");

      $(".ratePost").rate({
        max_value: 10,
        step_size: 1,
        initial_value: 0,
        update_input_field_name: $("#rating"),
      });
    });

    // ** Edit Button
    $(".myTd").on("click", ".edit", function () {
      $("#formModalLabel").html("Update review");
      $(".button-dynamic button[type=submit]").html("Update");
      var id = $(this).data("id");
      console.log(id);
      var content = $(this).data("content");
      var ratePost = $(this).data("rate-value");
      console.log(ratePost);

      $(".content").val(content);
      $(".ratePost").val(ratePost);
      $(".id").val(id);

      $(".ratePost").rate({
        max_value: 10,
        step_size: 1,
        initial_value: 0,
        update_input_field_name: $("#rating"),
      });
    });
  });
</script>

<!-- $(this).removeData("rate-value");
      var attr = $(this).attr("data-rate-value");
      $(this).removeData("rate-value");
      console.log(attr); -->
