<%-include('../../layouts/back/user/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/user/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/user/topNav.ejs')%>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.5/lockr.min.js"></script>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-secondary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-primary d-inline-block mb-0">Book The Mentor</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-neutral tombolTambahData"
              data-toggle="modal"
              data-target="#modal-form"
              >New</a
            >
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-4">
        <div class="card-wrapper">
          <!-- Input groups -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Input Request</h3>
            </div>
            <!-- Card body -->

            <div class="card-body">
              <% if(!payment) { %>
              <div class="row icon-examples">
                <div class="div mx-auto justify-content-center text-center">
                  <img
                    class="img-fluid"
                    alt="Responsive image"
                    src="../../back/assets/img/custom/user-forbid-schedule.svg"
                    alt=""
                    style="width: 55%;"
                  />
                  <h4 class="text-center mb-4 text-primary pt-4">
                    Anda belum bisa atur jadwal , segera lakukan pembayaran
                    terlebih dahulu
                  </h4>
                </div>
              </div>
              <% } else if(payment){ %>
              <form id="scheduleForm" method="POST">
                <!-- Input groups with icon -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <small>Mentor</small>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-user"></i
                          ></span>
                        </div>
                        <input
                          type="hidden"
                          name="user"
                          id="userId"
                          value="<%=payment.user._id%>"
                        />
                        <input
                          type="hidden"
                          name="mentor"
                          id="mentorId"
                          value="<%=payment.mentor._id%>"
                        />
                        <input
                          type="hidden"
                          name="duration"
                          id="duration"
                          value="<%= payment.duration %>"
                        />
                        <input
                          class="pl-2 form-control"
                          id="mentorName"
                          placeholder="User"
                          type="text"
                          readonly="true"
                          value="<%=payment.mentor.username%>"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <small>Schedule</small>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-calendar-times"></i
                          ></span>
                        </div>
                        <input
                          id="datetime"
                          class="pl-2 form-control"
                          type="datetime-local"
                          id="example-datetime-local-input"
                          name="datetime"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Input groups with icon -->
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <small>Note</small>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="far fa-file-alt"></i
                          ></span>
                        </div>
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <input
                          id="note"
                          class="form-control pl-2"
                          placeholder="Write some message here"
                          type="text"
                          name="note"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center mx-auto">
                    <button
                      id="buttonAlert"
                      type="submit"
                      class="btn btn-sm btn-primary"
                    >
                      Request Schedule
                    </button>
                  </div>
                </div>
              </form>
              <% } %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Plan The Schedule</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="table_id">
                <thead class="thead-light">
                  <tr>
                    <th>Mentor</th>
                    <th class="text-center">D</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th class="text-center">Approve</th>
                    <th class="text-center">Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% schedule.forEach(scheduleData=>{ %>

                  <tr>
                    <td class="table-user">
                      <b><%= scheduleData.mentor.username %> </b>
                    </td>
                    <td class="table-user text-muted text-center">
                      <b><%= scheduleData.duration %> </b>
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LL") %></span
                      >
                    </td>
                    <td>
                      <span class="text-muted"
                        ><%= moment(scheduleData.datetime).format("LT") %></span
                      >
                    </td>
                    <td class="table-actions">
                      <% if (scheduleData.approve == "false") { %>
                      <span class="badge badge-pill badge-warning text-dark"
                        >Waiting</span
                      >
                      <% } else if(scheduleData.approve == "reject"){ %>
                      <span class="badge badge-pill badge-dark text-white"
                        >Reject</span
                      >
                      <% } else { %>
                      <span class="badge badge-pill badge-success text-dark"
                        >Approve</span
                      >
                      <% } %>
                    </td>
                    <td class="table-actions text-center">
                      <% if (scheduleData.approve == "true" &&
                      scheduleData.status==false ) { %>
                      <span class="badge badge-primary text-dark"
                        >Incoming</span
                      >
                      <% } else if(scheduleData.approve == "reject" &&
                      scheduleData.status==false) { %>
                      <span class="badge badge-dark text-white">Cancel</span>
                      <% }else if(scheduleData.approve=="false" &&
                      scheduleData.status==false){ %>
                      <span class="badge badge-danger text-dark">Pending</span>
                      <%}else if(scheduleData.approve=="true" &&
                      scheduleData.status==true) {%>
                      <span class="badge badge-success text-dark">Finish</span>
                      <% } %>
                    </td>
                    <td class="text-center">
                      <% if (scheduleData.approve=="true"){ %>
                      <i class="fas fa-check-circle text-success"></i>
                      <% }else if (scheduleData.approve=="reject"){%>
                      <i class="fas fa-check-circle text-dark"></i>
                      <%} else{ %>
                      <button
                        type="button"
                        onclick=""
                        data-toggle="modal"
                        data-target="#exampleModal"
                        class="table-action btn btn-sm"
                        data-toggle="tooltip"
                        data-original-title="edit Schedule"
                      >
                        <i
                          class="fa fa-reply-all text-danger"
                          aria-hidden="true"
                        ></i>
                      </button>
                      <% } %>
                    </td>
                    <!-- Modal -->
                    <div
                      class="modal fade"
                      id="exampleModal"
                      tabindex="-1"
                      role="dialog"
                      aria-labelledby="exampleModalLabel"
                      aria-hidden="true"
                    >
                      <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                      >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                              Change Schedule
                            </h5>
                          </div>
                          <form action="/user/schedule/edit" method="POST">
                            <div class="modal-body">
                              <input
                                type="hidden"
                                name="_csrf"
                                value="<%= csrfToken %>"
                              />
                              <input
                                type="hidden"
                                name="id"
                                value="<%=scheduleData._id%>"
                              />
                              <input
                                class="pl-2 form-control text-dark"
                                type="datetime-local"
                                value="<%=scheduleData.datetime%>"
                                name="datetime"
                              />
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button
                                type="button"
                                class="btn btn-primary btn-sm"
                              >
                                Save changes
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <% }) %>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <%-include('../../layouts/back/user/footer.ejs')%>
    <script>
      $(document).ready(() => {
        let paymentChecker
        let oldPayment;
        let newPayment;

        if ("<%=approveStatus%>" == "false") {
          $("#buttonAlert").removeClass("btn-primary").addClass("btn-dark");
          $("#buttonAlert").prop("disabled", true).text("Approve Waiting");
          $("#note").prop("disabled", true);
          $("#datetime").prop("disabled", true);
        }

        $.get("/api/user/payments", (data) => {
         paymentChecker = "pay_" + "<%-session.username%>";
         oldPayment = localStorage.getItem(paymentChecker);
         newPayment = JSON.stringify(data.total);
         console.log(oldPayment+"="+newPayment);

          let rejectSchedule = <%-JSON.stringify(rejectSchedule)%>;

          if (!oldPayment) {
            localStorage.setItem(paymentChecker, newPayment);
          } else {
            if (oldPayment && rejectSchedule) {
              $("#mentorName").val(mentorUsername);
              $("#userId").val(<%-userId%>);
              $("#mentorId").val(<%-mentorId%>);
              $("#duration").val(<%-duration%>);
              $("#note").prop("disabled", false);
              $("#datetime").prop("disabled", false);
              alert("BERHASIL");
            } else if (oldPayment == newPayment) {
              $("#buttonAlert").removeClass("btn-primary").addClass("btn-dark");
              $("#buttonAlert").prop("disabled", true).text("Need Payment");
              $("#mentorName").val("No New Payment Found..");
              $("#note").prop("disabled", true);
              $("#datetime").prop("disabled", true);
            }
          }
          // $("#scheduleForm").submit(() => {
          //   localStorage.removeItem(paymentChecker);
          // });
        })
          .done((res) => {
            console.log(res);
          })
          .fail((err) => {
            console.log(err);
          });

          $("#buttonAlert").click(function (e) {
          e.preventDefault();
          let mentorId = $("input[name=mentor]").val();
          let userId = $("input[name=user]").val();
          let duration = $("input[name=duration]").val();
          let datetime = $("input[name=datetime]").val();
          let note = $("input[name=note]").val();
          $.post("/user/schedule?_csrf=<%=csrfToken%>", { user: userId, mentor: mentorId,duration:duration,datetime:datetime,note:note })
            .done((data) => {
              let status=data.message;
              console.log(status);
              if(status == true){
                Swal.fire({
                  icon: 'success',
                  title: 'Horeee',
                  text: 'Data Succesfully Saved',
                }).then(()=>{
                  localStorage.removeItem(paymentChecker);
                  location.reload();
                })
              }else{
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Something went wrong!',
                })
              }
            })
            .fail((err) => console.log(err));
        });

      });
    </script>
  </div>
</div>
