<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Category</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY FORM -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Create Category</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <form action="" method="POST">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-user"></i
                          ></span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Category name"
                          type="text"
                          name="name"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="fas fa-envelope"></i
                          ></span>
                        </div>
                        <input
                          class="form-control"
                          placeholder="Exam Link"
                          type="text"
                          name="testlink"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <div class="input-group input-group-merge">
                        <button class="btn btn-primary" type="submit">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Category List</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Exam Link</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                <% for (var i=0;i<category.length;i++) { %>
                  <% var categorydata = category[i]; %>
                  <tr>
                    <td class="table-user">
                      <b><%= categorydata.name %></b>
                    </td>
                    <td>
                      <span class="text-muted"><%= categorydata.date %></span>
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%= categorydata.testlink %></a
                      >
                    </td>
                    <td class="table-actions">
                    <form method="POST" action="/admin/category/delete" >
                      <a
                        href="javascript:void(0);"
                        class="table-action edit"
                        data-original-title="Edit category"
                        data-toggle="modal" data-target="#modal-form" data-id="<%=categorydata._id%>"
                        data-name="<%=categorydata.name%>"
                        data-testlink="<%=categorydata.testlink%>"
                      >
                        <i class="fas fa-user-edit"></i>
                      </a>
                      <input type="hidden" value="<%= categorydata._id %>" name="id"/>
                      <button type="submit" onclick="return confirm('Are you sure you want to delete?');" class="table-action btn btn-sm"  data-toggle="tooltip" data-original-title="Delete Category"><i class="fas fa-trash"></i></button>    
                    </form>
                    </td>
                  </tr>
                 <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
                  <!-- Modals -->
                  <div class="col-md-6">
                  <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
                    <div class="modal-dialog modal- modal-dialog-centered " role="document">
                      <div class="modal-content">
                        <div class="modal-body p-0">
                          <div class="card bg-secondary border-0 mb-0">
                            <div class="card-body px-lg-5 py-lg-5">
                              <div class="text-center text-muted mb-4 mt-4">
                                <h3>Update Category</h3>
                              </div>
                              <form role="form" method="POST" action="/admin/category/update">
                                <div class="form-group mb-4">
                                  <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                    </div>
                                    <input type="hidden" name="id" class="id">
                                    <input class="form-control name text-dark" placeholder="name" type="text" name="name">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                    </div>
                                    <input class="form-control testlink text-dark" placeholder="Exam Link" type="text" name="testlink">
                                  </div>
                                </div>
                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary my-4">Update</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

    <script>
        $(document).ready(function(){
          $('#mytable').on('click','.edit',function(){
            var id = $(this).data('id');
            var name = $(this).data('name');
            var testlink = $(this).data('testlink');
            $('.name').val(name);
            $('.testlink').val(testlink);
            $('.id').val(id);
          });
    
        });
    </script>



    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>