<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Default
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Total traffic
                    </h5>
                    <span class="h2 font-weight-bold mb-0">350,897</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
                    >
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"
                    ><i class="fa fa-arrow-up"></i> 3.48%</span
                  >
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Users
                    </h5>
                    <span class="h2 font-weight-bold mb-0"><%=totalUser%></span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow"
                    >
                      <i class="ni ni-chart-pie-35"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"
                    ><i class="fa fa-arrow-up"></i> 3.48%</span
                  >
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Mentor
                    </h5>
                    <span class="h2 font-weight-bold mb-0"
                      ><%=totalMentor%></span
                    >
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-gradient-green text-white rounded-circle shadow"
                    >
                      <i class="ni ni-money-coins"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"
                    ><i class="fa fa-arrow-up"></i> 3.48%</span
                  >
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">
                      Income
                    </h5>
                    <span class="h3 font-weight-bold mb-0">Rp15.000.000</span>
                  </div>
                  <div class="col-auto">
                    <div
                      class="icon icon-shape bg-gradient-info text-white rounded-circle shadow"
                    >
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-sm">
                  <span class="text-success mr-2"
                    ><i class="fa fa-arrow-up"></i> 3.48%</span
                  >
                  <span class="text-nowrap">Since last month</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">
                  Total Payments
                </h6>
                <h5 class="h3 mb-0">Last 7 Payment</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div
              class="chart"
              style="position: relative; height: 100%; width: 100%;"
            >
              <canvas
                id="paymentChart"
                class="chart-canvas"
                height="330px"
                style="width: 100%; position: relative;"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">
                  Total Income
                </h6>
                <h5 class="h3 mb-0">Last 6 Month</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Chart -->
            <div
              class="chart"
              style="position: relative; height: 100%; width: 100%;"
            >
              <canvas
                id="withdrawChart"
                class="chart-canvas"
                height="330px"
                style="width: 100%; position: relative;"
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <!-- Members list group card -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">Team members</h5>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list my--3">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/team-1.jpg"
                      />
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">John Michael</a>
                    </h4>
                    <span class="text-success">●</span>
                    <small>Online</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">
                      Add
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/team-2.jpg"
                      />
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">Alex Smith</a>
                    </h4>
                    <span class="text-warning">●</span>
                    <small>In a meeting</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">
                      Add
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/team-3.jpg"
                      />
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">Samantha Ivy</a>
                    </h4>
                    <span class="text-danger">●</span>
                    <small>Offline</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">
                      Add
                    </button>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/team-4.jpg"
                      />
                    </a>
                  </div>
                  <div class="col ml--2">
                    <h4 class="mb-0">
                      <a href="#!">John Michael</a>
                    </h4>
                    <span class="text-success">●</span>
                    <small>Online</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-primary">
                      Add
                    </button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <!-- Checklist -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">To do list</h5>
          </div>
          <!-- Card body -->
          <div class="card-body p-0">
            <!-- List group -->
            <ul class="list-group list-group-flush" data-toggle="checklist">
              <li
                class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
              >
                <div class="checklist-item checklist-item-success">
                  <div class="checklist-info">
                    <h5 class="checklist-title mb-0">Call with Dave</h5>
                    <small>10:30 AM</small>
                  </div>
                  <div>
                    <div
                      class="custom-control custom-checkbox custom-checkbox-success"
                    >
                      <input
                        class="custom-control-input"
                        id="chk-todo-task-1"
                        type="checkbox"
                        checked
                      />
                      <label
                        class="custom-control-label"
                        for="chk-todo-task-1"
                      ></label>
                    </div>
                  </div>
                </div>
              </li>
              <li
                class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
              >
                <div class="checklist-item checklist-item-warning">
                  <div class="checklist-info">
                    <h5 class="checklist-title mb-0">Lunch meeting</h5>
                    <small>10:30 AM</small>
                  </div>
                  <div>
                    <div
                      class="custom-control custom-checkbox custom-checkbox-warning"
                    >
                      <input
                        class="custom-control-input"
                        id="chk-todo-task-2"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        for="chk-todo-task-2"
                      ></label>
                    </div>
                  </div>
                </div>
              </li>
              <li
                class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
              >
                <div class="checklist-item checklist-item-info">
                  <div class="checklist-info">
                    <h5 class="checklist-title mb-0">Argon Dashboard Launch</h5>
                    <small>10:30 AM</small>
                  </div>
                  <div>
                    <div
                      class="custom-control custom-checkbox custom-checkbox-info"
                    >
                      <input
                        class="custom-control-input"
                        id="chk-todo-task-3"
                        type="checkbox"
                      />
                      <label
                        class="custom-control-label"
                        for="chk-todo-task-3"
                      ></label>
                    </div>
                  </div>
                </div>
              </li>
              <li
                class="checklist-entry list-group-item flex-column align-items-start py-4 px-4"
              >
                <div class="checklist-item checklist-item-danger">
                  <div class="checklist-info">
                    <h5 class="checklist-title mb-0">Winter Hackaton</h5>
                    <small>10:30 AM</small>
                  </div>
                  <div>
                    <div
                      class="custom-control custom-checkbox custom-checkbox-danger"
                    >
                      <input
                        class="custom-control-input"
                        id="chk-todo-task-4"
                        type="checkbox"
                        checked
                      />
                      <label
                        class="custom-control-label"
                        for="chk-todo-task-4"
                      ></label>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <!-- Progress track -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">Progress track</h5>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list my--3">
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/bootstrap.jpg"
                      />
                    </a>
                  </div>
                  <div class="col">
                    <h5>Argon Design System</h5>
                    <div class="progress progress-xs mb-0">
                      <div
                        class="progress-bar bg-orange"
                        role="progressbar"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 60%;"
                      ></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/angular.jpg"
                      />
                    </a>
                  </div>
                  <div class="col">
                    <h5>Angular Now UI Kit PRO</h5>
                    <div class="progress progress-xs mb-0">
                      <div
                        class="progress-bar bg-green"
                        role="progressbar"
                        aria-valuenow="100"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 100%;"
                      ></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/sketch.jpg"
                      />
                    </a>
                  </div>
                  <div class="col">
                    <h5>Black Dashboard</h5>
                    <div class="progress progress-xs mb-0">
                      <div
                        class="progress-bar bg-red"
                        role="progressbar"
                        aria-valuenow="72"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 72%;"
                      ></div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="list-group-item px-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        alt="Image placeholder"
                        src="../../back/assets/img/theme/react.jpg"
                      />
                    </a>
                  </div>
                  <div class="col">
                    <h5>React Material Dashboard</h5>
                    <div class="progress progress-xs mb-0">
                      <div
                        class="progress-bar bg-teal"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 90%;"
                      ></div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->

    <%-include('../../layouts/back/admin/footer.ejs')%>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
  </div>
</div>

<script>
  $(document).ready(() => {
    $.get("/api/admin/payments")
      .done((data) => {
        let res = data.data;

        let datetime = res.map(function (e) {
          return moment(e._id).format("LL");
        });
        let total = res.map(function (e) {
          return e.count;
        });

        let ctx = document.getElementById("paymentChart").getContext("2d");
        let chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "line",

          // The data for our dataset
          data: {
            labels: datetime,
            datasets: [
              {
                label: "Payment",
                backgroundColor: "rgb(245,245,245)",
                borderColor: "rgb(37,45,89)",
                hoverBackgroundColor: "rgb(65,105,225)",
                hoverBorderColor: "rgb(65,105,225)",
                hoverBorderWidth: 7,
                pointRadius: 5,
                fill: false,
                data: total,
              },
            ],
          },
        });
      })
      .fail((err) => {
        alert(err);
      });
    $.get("/api/admin/withdraws")
      .done((data) => {
        let res = data.data;

        let month = res.map(function (e) {
          return moment(e._id, "M").format("MMMM");
        });
        let income = res.map(function (e) {
          return e.income;
        });

        let ctx = document.getElementById("withdrawChart").getContext("2d");
        let chart = new Chart(ctx, {
          // The type of chart we want to create
          type: "bar",

          // The data for our dataset
          data: {
            labels: month,
            datasets: [
              {
                label: "Income",
                backgroundColor: "rgb(65,105,225)",
                borderColor: "rgb(169,169,169)",
                borderWidth: 3,
                hoverBackgroundColor: "rgb(65,105,225)",
                hoverBorderColor: "rgb(105,105,105)",
                hoverBorderWidth: 5,
                data: income,
              },
            ],
          },
        });
      })
      .fail((err) => {
        alert(err);
      });
  });
</script>
