<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">FAQ</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="javascript:void(0);" class="btn btn-sm btn-neutral tombolTambahData" data-toggle="modal" data-target="#modal-form">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">FAQ List</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Created at</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <% for (var i=0;i<faq.length;i++) { %>
                    <% var faqdata = faq[i]; %>
                    <td class="table-user">
                      <b><%= faqdata.question %></b>
                    </td>
                    <td>
                      <span class="text-muted"><%= faqdata.answer %></span>
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%= faqdata.date %></a
                      >
                    </td>
                    <td class="table-actions">
                      <form method="POST" action="/admin/faq/delete">
                        <a
                          href="javascript:void(0);"
                          class="table-action edit"
                          data-original-title="Edit category"
                          data-toggle="modal"
                          data-target="#modal-form"
                          data-id="<%=faqdata._id%>"
                          data-question="<%=faqdata.question%>"
                          data-answer="<%=faqdata.answer%>"
                        >
                          <i class="fas fa-user-edit"></i>
                        </a>
                        <input
                          type="hidden"
                          value="<%= faqdata._id %>"
                          name="id"
                        />
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button
                          type="submit"
                          onclick="return confirm('Are you sure you want to delete?');"
                          class="table-action btn btn-sm"
                          data-toggle="tooltip"
                          data-original-title="Delete Category"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                 <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modals -->
    <div class="col-md-6">
      <div
        class="modal fade"
        id="modal-form"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modal-form"
        aria-hidden="true"
      >
        <div class="modal-dialog modal- modal-dialog-centered " role="document">
          <div class="modal-content">
            <div class="modal-body p-0">
              <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4 mt-4">
                    <h3 id="formModalLabel">Update FAQ</h3>
                  </div>
                  <form role="form" method="POST" action="/admin/faq/update">
                    <div class="form-group mb-4">
                      <div
                        class="input-group input-group-merge input-group-alternative"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="ni ni-email-83"></i
                          ></span>
                        </div>
                        <input type="hidden" name="id" class="id" />
                        <input
                          class="form-control question text-dark"
                          type="text"
                          name="question"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div
                        class="input-group input-group-merge input-group-alternative"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><i class="ni ni-lock-circle-open"></i
                          ></span>
                        </div>
                        <input
                          class="form-control answer text-dark"
                          type="text"
                          name="answer"
                        />
                      </div>
                    </div>
                    <div class="text-center button-dynamic">
                      <button type="submit" class="btn btn-primary my-4 text-center">
                        Update
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {

          $(".tombolTambahData").on("click", function() {
            $("#formModalLabel").html("Create FAQ");
            $(".button-dynamic button[type=submit]").html("Submit");
            $(".question").val("");
            $(".answer").val("");

            $(".modal-body form").attr(
              "action",
              "/admin/faq/"
            );
          });
        


        $("#mytable").on("click", ".edit", function() {
          $("#formModalLabel").html("Update FAQ");
          $(".button-dynamic button[type=submit]").html("Update");
          var id = $(this).data("id");
          console.log(id);
          var question = $(this).data("question");
          var answer = $(this).data("answer");
          $(".question").val(question);
          $(".answer").val(answer);
          $(".id").val(id);
        });
      });
    </script>
    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>
  </div>
</div>
