<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">All Mentor</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="https://docs.google.com/forms/u/0/"
              target="_blank"
              class="btn btn-sm btn-neutral"
              >Exam Dashboard</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-0">Mentor Table</h3>
          </div>
          <div class="col-6 text-right">
            <a
              href="#"
              class="btn btn-sm btn-neutral btn-round btn-icon"
              data-toggle="tooltip"
              data-original-title="Edit product"
            >
              <span class="btn-inner--icon"
                ><i class="fas fa-user-edit"></i
              ></span>
              <span class="btn-inner--text">Export</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive">
        <table class="table align-items-center table-flush" id="#mytable">
          <thead class="thead-light">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Date</th>
              <th>Time</th>
              <th>Expertise</th>
              <th class="text-center">Exam Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% mentor.forEach(mentorData => { %>
            <tr>
              <td class="table-user">
                <b><%=mentorData.username%></b>
              </td>
              <td class="table-user">
                <span class="text-muted"><%=mentorData.email%></span>
              </td>
              <td>
                <span class="text-muted"
                  ><%= moment(mentorData.register).format("LL")%></span
                >
              </td>
              <td>
                <span class="text-muted"
                  ><%= moment(mentorData.register).format("LT")%></span
                >
              </td>
              <td>
                <b
                  ><%= mentorData.expertise == null ? "Not Set"
                  :mentorData.expertise %></b
                >
              </td>
              <td class="text-center">
                <%if (mentorData.examstatus === true) {%>
                <b class="font-weight-bold text-blue">Finished</b>
                <% } else { %>
                <b class="font-weight-bold text-danger">Not Yet</b>
                <% } %>
              </td>
              <td class="table-actions text-center tdedit">
                <a
                  href="javascript:void(0);"
                  class="table-action table-action-edit edit"
                  data-toggle="modal"
                  data-target="#exampleModal"
                  data-id="<%=mentorData._id%>"
                  data-username="<%=mentorData.username%>"
                  data-mentorstatus="<%=mentorData.mentorstatus%>"
                >
                  <i class="fas fa-user-edit"></i>
                  <input
                    type="hidden"
                    value="<%= mentorData._id %>"
                    name="id"
                  />
                </a>
              </td>
            </tr>
            <% } )%>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Score</h5>
          </div>
          <form method="POST" action="/admin/mentor/exam/update">
            <div class="modal-body">
              <div class="form-group">
                <input type="hidden" class="id" name="id" />
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control username"
                  name="username"
                  id="username"
                  readonly="true"
                />
              </div>
              <div class="form-group">
                <label for="username">Result</label>
                <select
                  class="form-control target text-dark font-weight-bold "
                  name="mentorstatus"
                  required
                >
                  <option value="" selected>Exam result is...</option>
                  <option value="true">Qualified</option>
                  <option value="false">UnQualified</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Jquery  -->
    <script>
      $(document).ready(function() {
        $(".tdedit").on("click", ".edit", function() {
          var id = $(this).data("id");
          console.log(id);
          var username = $(this).data("username");
          var mentorstatus = $(this).data("mentorstatus");
          $(".username").val(username);
          $(".mentorstatus").val(mentorstatus);
          $(".id").val(id);
        });
      });
    </script>
    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>
  </div>
</div>
