<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">All Mentor</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="/admin/blog/create" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <div class="row">
          <div class="col-6">
            <h3 class="mb-0">Mentor Table</h3>
          </div>
          <div class="col-6 text-right">
            <a
              href="#"
              class="btn btn-sm btn-neutral btn-round btn-icon"
              data-toggle="tooltip"
              data-original-title="Edit product"
            >
              <span class="btn-inner--icon"
                ><i class="fas fa-user-edit"></i
              ></span>
              <span class="btn-inner--text">Export</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Light table -->
      <div class="table-responsive">
        <table class="table align-items-center table-flush" id="#mytable">
          <thead class="thead-light">
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Date</th>
              <th>Time</th>
              <th>Expertise</th>
              <th class="text-center">Exam Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% mentor.forEach(mentorData => { %>
            <tr>
              <td class="table-user">
                <b><%=mentorData.username%></b>
              </td>
              <td class="table-user">
                <span class="text-muted"><%=mentorData.email%></span>
              </td>
              <td>
                <span class="text-muted"
                  ><%= moment(mentorData.register).format("LL")%></span
                >
              </td>
              <td>
                <span class="text-muted"
                  ><%= moment(mentorData.register).format("LT")%></span
                >
              </td>
              <td>
                <b
                  ><%= mentorData.expertise == null ? "Not Set"
                  :mentorData.expertise %></b
                >
              </td>
              <td class="text-center">
                <%if (mentorData.examstatus === true) {%>
                <b class="font-weight-bold text-blue">Finished</b>
                <% } else { %>
                <b class="font-weight-bold text-danger">Not Yet</b>
                <% } %>
              </td>
              <td class="table-actions text-center">
                <a
                  href="javascript:void(0);"
                  class="table-action table-action-edit edit"
                  data-toggle="modal"
                  data-target="#modal-default"
                  data-id="<%=mentorData._id%>"
                  data-username="<%=mentorData.username%>"
                  data-mentorstatus="<%=mentorData.mentorstatus%>"
                >
                  <i class="fas fa-user-edit"></i>
                  <input
                    type="hidden"
                    value="<%= mentorData._id %>"
                    name="id"
                  />
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Modals -->
    <div
      class="modal fade"
      id="modal-default"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modal-default"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal- modal-dialog-centered modal-"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">
              Give Score
            </h6>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/admin/mentor/exam/update" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control username"
                  name="username"
                />
              </div>
              <div class="form-group ">
                <input type="hidden" name="id" value="<%= mentor._id %>" />
                <label for="exampleInputEmail1">Exam Result</label>
                <select
                  class="form-control font-weight-bold text-dark mentorstatus"
                  name="mentorstatus"
                  required
                >
                  <option value="" selected>The Result is...</option>
                  <option value="true">Passed</option>
                  <option value="false">Failed</option>
                </select>
              </div>
              <div class="form-group text-center">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button type="submit" class="btn btn-primary">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Jquery  -->
    <script>
      $(document).ready(function() {
        $("#mytable").on("click", ".edit", function() {
          var id = $(this).data("id");
          console.log(id);
          var username = $(this).data("username");
          var mentorstatus = $(this).data("mentorstatus");
          $(".username").val(username);
          $(".mentorstatus").val(mentorstatus);
          $(".id").val(id);
        });
      });
    </script>
    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>
  </div>
</div>
