<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Payment</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="javascript:void(0);"
              class="btn btn-sm btn-neutral tombolTambahData"
              data-toggle="modal"
              data-target="#modal-form"
              >New</a
            >
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Payment List</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush" id="mytable">
                <thead class="thead-light">
                  <tr>
                    <th>User</th>
                    <th>Mentor</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Hour</th>
                    <th class="text-center">Total</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% payment.forEach(paymentData => { %>
                  <tr>
                    <td class="table-user">
                      <b><%= paymentData.user.username%></b>
                    </td>
                    <td class="table-user">
                      <b><%= paymentData.mentor.username%></b>
                    </td>
                    <td class="text-center">
                      <a href="#!" class="font-weight-bold">
                        Rp.<%= currency(paymentData.price, { precision: 0
                        }).format()%></a
                      >
                    </td>
                    <td class="text-center">
                      <a href="#!" class="font-weight-bold">
                        <%=paymentData.duration%></a
                      >
                    </td>
                    <td class="text-center">
                      <a href="#!" class="font-weight-bold">
                        Rp.<%= currency(paymentData.total, { precision: 0
                        }).format()%></a
                      >
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%=
                        moment(paymentData.mentor.datetime).format("LL")%></a
                      >
                    </td>
                    <td>
                      <a href="#!" class="font-weight-bold"
                        ><%=
                        moment(paymentData.mentor.datetime).format("LT")%></a
                      >
                    </td>
                    <td class="table-user">
                      <span class="badge badge-pill badge-success text-dark"
                        >Success</span
                      >
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>
  </div>
</div>
