<%-include('../../layouts/back/admin/header.ejs')%>
<!-- Sidenav -->
<%-include('../../layouts/back/admin/sideNav.ejs')%>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <%-include('../../layouts/back/admin/topNav.ejs')%>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Withdraw</h6>
            <nav
              aria-label="breadcrumb"
              class="d-none d-md-inline-block ml-md-4"
            >
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="#"><i class="fas fa-home"></i></a>
                </li>
                <li class="breadcrumb-item"><a href="#">Forms</a></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a
              href="https://dashboard.xendit.co/invoices"
              target="_blank"
              class="btn btn-sm btn-neutral tombolTambahData"
              >Payment</a
            >
            <a
              href="https://dashboard.xendit.co/disbursements"
              target="_blank"
              class="btn btn-sm btn-neutral"
              >Withdraw</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="card-wrapper">
          <!-- CATEGORY TABLE -->
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <div class="row">
                <div class="col-6">
                  <h3 class="mb-0">Waiting List</h3>
                </div>
                <div class="col-6 text-right">
                  <a
                    href="#"
                    class="btn btn-sm btn-neutral btn-round btn-icon"
                    data-toggle="tooltip"
                    data-original-title="Edit product"
                  >
                    <span class="btn-inner--icon"
                      ><i class="fas fa-user-edit"></i
                    ></span>
                    <span class="btn-inner--text">Export</span>
                  </a>
                </div>
              </div>
            </div>
            <!-- Light Table -->
            <div class="table-responsive">
              <table
                class="table table-hover align-items-center table-flush"
                id="mytable"
              >
                <thead class="thead-light">
                  <tr>
                    <th>Mentor</th>
                    <th class="text-center">Bank Code</th>
                    <th class="text-center">Number</th>
                    <th class="text-center">Total (-5%)</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">Time</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Income</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% withdraw.forEach(withdrawData=>{ %>
                  <tr>
                    <td class="table-user">
                      <b><%= withdrawData.mentor.username %></b>
                    </td>
                    <td class="table-user text-center">
                      <h5 class="text-muted">
                        <%= withdrawData.mentor.bankcode %>
                      </h5>
                    </td>
                    <td class="table-user text-center">
                      <h5 class="text-muted">
                        <%= withdrawData.mentor.bankaccountnumber %>
                      </h5>
                    </td>
                    <td class="table-user text-center">
                      <b>
                        Rp.<%= currency(withdrawData.total, { precision: 0
                        }).format()%></b
                      >
                    </td>
                    <td class="text-center">
                      <h5 class="text-primary">
                        <%= moment(withdrawData.datetime).format("LL") %>
                      </h5>
                    </td>
                    <td class="text-center">
                      <h5 class="text-primary">
                        <%= moment(withdrawData.datetime).format("LT") %>
                      </h5>
                    </td>

                    <td class="table-user text-center">
                      <% if(withdrawData.status==false){ %>
                      <span class="badge badge-warning text-dark"
                        ><%= withdrawData.status %></span
                      >
                      <% } else { %>
                      <span class="badge badge-success text-dark"
                        ><%= withdrawData.status %></span
                      >
                      <% } %>
                    </td>
                    <td class="table-user text-center">
                      <b>
                        Rp.<%= currency(withdrawData.adminincome, { precision: 0
                        }).format()%></b
                      >
                    </td>
                    <td class="text-center">
                      <form
                        id="formWithdraw"
                        action="/admin/withdraw/update"
                        method="POST"
                      >
                        <input
                          type="hidden"
                          name="_csrf"
                          value="<%= csrfToken %>"
                        />
                        <input
                          type="hidden"
                          name="id"
                          value="<%=withdrawData._id%>"
                        />
                        <input
                          type="hidden"
                          name="mentor"
                          value="<%=withdrawData.mentor._id%>"
                        />
                        <input type="hidden" name="status" value="true" />

                        <% if(withdrawData.status==false) { %>
                        <button
                          id="btnAction"
                          class="table-action btn btn-sm"
                          data-toggle="tooltip"
                          data-original-title="confirm withdraw"
                        >
                          <i class="fas fa-check-circle"></i>
                        </button>
                        <% }else{ %>
                        <i class="fas fa-check-circle text-success"></i>
                        <% } %>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%-include('../../layouts/back/admin/footer.ejs')%>
  </div>
</div>

<script>
  $(document).ready(() => {
    $("#btnAction").click((e) => {
      e.preventDefault();
      Swal.fire({
        icon: "success",
        title: "Success!",
        text: "Withdraw Transfer Send to Payment Gateway",
      }).then(() => {
        $("#formWithdraw").submit();
      });
    });
  });
</script>
